<div class="container">
  <h1>Questions fréquentes sur Weflat</h1>
  <br>
  <h2>Questions générales sur weflat</h2>
  <mat-accordion class="mt-4">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Qu'est ce que weflat ?</mat-panel-title>
      </mat-expansion-panel-header>
      <p>Weflat est la seule plateforme web mettant en relation des personnes souhaitant acheter un bien immobilier et des architectes
        et architectes d’intérieur pouvant les accompagner dans leurs visites. Les conseils de ces architectes et architectes
        d’intérieur sont précieux, ils permettent d’évaluer la qualité du bien et son potentiel grâce à leur talent et leur
        expérience pour un tarif accessible. Sans oublier que ces visites constituent de formidables opportunités d’affaires
        pour nos professionnels.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Qui sommes nous ?</mat-panel-title>
      </mat-expansion-panel-header>
      <p>Nous sommes trois ingénieurs passionnés d'architecture ayant été confrontés à la dure réalité de l'achat immobilier.
        A chacune de nos visites, un doute subsistait : puis-je ajouter une seconde chambre ? Puis-je ouvrir la cuisine à moindre
        frais ? Comment loger la commode de mamie (elle est superbe) ?.. Trop de questions qui restaient sans réponse sans
        l'aide directe d'un professionnel de l'architecture. Résultat : aucune offre ou décision trop tardive (le bien était
        déjà parti). Pourquoi ne pas faire appel à un architecte me direz-vous ? Vous avez absolument raison mais nous n'en
        connaissions aucun. Dans ce contexte, nous avons fondé weflat. Maintenant, nous pouvons acheter un appartement sereinement,
        tout comme vous.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Quel est l'intérêt de faire appel à weflat ?</mat-panel-title>
      </mat-expansion-panel-header>
      <p>Grâce à weflat vous évitez des mauvaises surprises ! Votre architecte ou architecte d’intérieur comprend votre projet
        et vos envies. Il est capable de vous dire si c’est réalisable dans le bien visité et à quel prix ! Vous avez 3 rendus
        différents, donc 3 fois plus de chances d’être satisfait. Pas besoin de vous embêter à éplucher les annonces d’architectes
        ou architectes d’intérieur pour en trouver un susceptible de fournir ce type de prestation. Vous êtes assuré d’avoir
        un professionnel disponible pour votre visite à la date, l’heure et l’adresse indiquées. On s’en occupe !</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Que dire à l'agent immobilier ou au propriétaire ?</mat-panel-title>
      </mat-expansion-panel-header>
      <p>Pas d'inquiétude : pas la peine de présenter l'architecte comme votre oncle préféré s'y connaissant dans l'immobilier
        ou votre père qui vous épaule dans votre projet d'achat immobilier. Dites que vous faites appel à un architecte pour
        mieux cerner la qualité et le potentiel du bien immobilier. Ce sera d'ailleurs un gage de sérieux à l'égard de l'agent
        immobilier ou du propriétaire.</p>
    </mat-expansion-panel>
  </mat-accordion>

  <h2 class="mt-5">Notre service</h2>
  <mat-accordion class="mt-4">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Comment fonctionne weflat ?</mat-panel-title>
      </mat-expansion-panel-header>
      <p>C’est “on ne peut plus simple ;-)” Après avoir cliqué sur “GO” (le gros rond jaune) ou "Réserver un architecte" (en
        haut à droite), vous êtes invité à sélectionner dans le calendrier la date de votre visite puis l’heure décidée avec
        le propriétaire ou agent immobilier. Vous renseignez ensuite vos coordonnées ainsi que l’adresse du bien à visiter.
        Vous cliquez sur “réservez”, vous êtes redirigés vers la page de paiement de Stripe (voir "Le paiement est-il sécurisé?").
        La visite est enregistrée, vous recevez un e-mail récapitulant les informations communiquées ainsi qu’une facture
        en pièce jointe. Peu de temps après, vous recevez un second mail avec la confirmation d'attribution de l'architecte
        ou l'architecte d’intérieur. Effectuez votre visite, l’architecte pré-remplit un rendu formel que vous pouvez garder
        à l’issu de la visite. Dans les 12h ouvrées suivant la visite vous recevrez un rendu digitalisé définitif mis au
        propre par le professionnel. Sa réception marque la fin de la prestation de weflat (voir : "Qu'est ce que je reçois
        lorsque je fais appel à weflat?"). Libre à vous de poursuivre votre collaboration avec le professionnel rencontré
        ! C'est parti !</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Combien coûte weflat ?</mat-panel-title>
      </mat-expansion-panel-header>
      <p>Une seule prestation, un seul prix : 150€. Pour ce prix le client reçoit un rendu rempli par le professionnel. Pour
        en savoir plus: Qu'est ce que je reçois lorsque je fais appel à weflat ?</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Le paiement est-il sécurisé ?</mat-panel-title>
      </mat-expansion-panel-header>
      <p>Nous utilisons le service de paiement en ligne Stripe. Vous trouverez plus d'informations sur leur site. Comment savoir
        que votre paiement via Stripe est sécurisé ? Au moment du paiement vous êtes redirigés vers la page de notre service
        Stripe. La barre de recherche de votre navigateur affiche un cadenas à côté de l'adresse du site. Stripe et weflat utilisent le
        protocole SSL qui permet de crypter les échanges afin de garantir l'intégrité et la confidentialité de vos données. 
        Ce protocole est reconnaissable dans la barre d'adresse grâce au cadenas et au “https” au début de l'adresse. N’hésitez
        pas à nous contacter par email ou téléphone si vous avez la moindre question concernant la sécurité.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Que reçois-je lorsque je fais appel à weflat ?</mat-panel-title>
      </mat-expansion-panel-header>
      <p>La visite donne lieu à un compte rendu, contenant plusieurs parties. Parmi celles-ci, vous trouverez : une évaluation
        de la qualité actuelle du bien (électricité, plomberie, murs, plafonds,...) avec un système de notation: “Bon”, “Moyen”,
        “Mauvais”; une case travaux avec l’estimation de leur coût; des commentaires supplémentaires sur la qualité du bien;
        une zone de commentaires sur le potentiel et les réaménagements possibles; éventuellement une esquisse. Dans les
        12h ouvrées suivant la visite, le professionnel vous fera parvenir ce compte rendu dans une version digitalisée mise
        au propre. La réception de cette version digitalisée du rendu marque la fin de la prestation.
      </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Que se passe-t-il après la visite ?</mat-panel-title>
      </mat-expansion-panel-header>
      <p>Après la visite et dans un délai de 12h ouvrées, vous recevrez votre rendu digitalisé. Grâce aux précieux conseils
        de votre architecte durant la visite et présentés dans ce rendu, vous avez toutes les clés (sauf celles du bien....)
        pour prendre la décision de l’achat le plus important de votre vie. Même si notre prestation s’achève à la réception
        du rendu digitalisé, n’hésitez pas à discuter avec notre professionnel, en effet celui-ci peut vous proposer des
        prestations complémentaires (comme des plans 3D,...). Notre souhait le plus cher est de vous faire rencontrer l’architecte
        ou architecte d’intérieur qui vous accompagnera dans les travaux de votre futur bien.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Y a-t-il des biens trop petits ou trop grands pour weflat ?</mat-panel-title>
      </mat-expansion-panel-header>
      <p>Chez weflat nous ne faisons pas de discrimination, chaque appartement correspond à une attente. Rassurez-vous le tarif
        reste le même.</p>
    </mat-expansion-panel>
  </mat-accordion>


  <h2 class="mt-5">Questions relatives aux architectes</h2>
  <mat-accordion class="mt-4">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Qui sont-ils ? Comment ont-ils été choisis ?</mat-panel-title>
      </mat-expansion-panel-header>
      <p>Notre principale préoccupation est la qualité du conseil
        et le sentiment de confiance du client vis-à-vis du professionnel. C’est pour cela que nous sélectionnons uniquement
        des architectes HMONP (anciennement DPLG) et des architectes d’intérieur diplômés des meilleurs écoles françaises.
      </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Je suis architecte, à quoi sert weflat ?</mat-panel-title>
      </mat-expansion-panel-header>
      <p>Si nous avons créé weflat, c’est aussi pour aider les architectes et architectes d’intérieur à mettre en oeuvre leurs
        talents et leurs connaissances de l’immobilier. Grâce à weflat, vous allez gagner du temps en construisant votre
        réseau de clients tout en étant rémunéré sur la base du nombre de visites effectuées (voir "Page Architectes" pour
        plus de détail).</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Qui sont les clients de weflat ?</mat-panel-title>
      </mat-expansion-panel-header>
      <p>Nos clients sont tout simplement des particuliers cherchant à acquérir un bien immobilier en toute confiance. En faisant
        appel à weflat, ils désirent obtenir les conseils professionnels d’architectes ou architectes d’intérieur sur la
        qualité actuelle du bien et son potentiel. Pour cela ils ont rempli lors de leur inscription quelles étaient leurs
        contraintes et envies. Ils attendent de vous que les confortiez dans la possibilité ou non de les mettre en oeuvre
        dans le bien visité.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Pourquoi avoir créé weflat ?</mat-panel-title>
      </mat-expansion-panel-header>
      <p>C’est une excellente question ! 
          La création de weflat est née d’un simple constat. 
          Un architecte consacre trop de temps à trouver des clients, étape nécessaire mais compliquée et non rémunérée.
          Un acheteur veut faire une offre d’achat immobilier rapidement et en confiance mais il ne dispose pas des compétences pour évaluer le potentiel de ce bien.
          Les  architectes et architectes d'intérieur ont les compétences d’évaluer rapidement le potentiel d’un bien. Beaucoup d’entre eux sont flexibles et ont besoin de revenus additionnels. Les acquéreurs sont une base de clients ayant un besoin immédiat de conseil.
          Weflat met en relation les acheteurs et les architectes le jour même. Un architecte se déplace lors de la visite pour évaluer la qualité et le potentiel du bien en accord avec les attentes de l’acheteur.
          </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Comment weflat attribue une demande de visite à un architecte ?</mat-panel-title>
      </mat-expansion-panel-header>
      <p>Notre algorithme (jalousé par les grands du web), prend en compte vos informations à savoir : vos dates et heures de
        disponibilité,les villes et quartiers dans lesquels vous pouvez vous déplacer. Lorsqu’une demande de client correspond,
        nous invitons le ou les membres pertinents. La confirmation du rendez-vous se
        fait par l’envoi d’un e-mail dans lequel nous vous rappelons la date, l’horaire et l’adresse de la visite. Vous y
        trouverez également les coordonnées (téléphone et e-mail) du client.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Dois-je payer pour m'inscrire à weflat ?</mat-panel-title>
      </mat-expansion-panel-header>
      <p>L'inscription au service weflat est totalement gratuite.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Dois-je être architecte diplômé pour m'inscrire à weflat ?</mat-panel-title>
      </mat-expansion-panel-header>
      <p>Le service weflat requiert du talent mais également une rigueur à toute épreuve. Soucieux de la qualité du service
        rendu, seuls les architectes et architectes d'intérieur diplômés sont éligibles à l'inscription au service weflat.
        D'ailleurs, une photocopie du diplôme est demandée à l'architecte dans le processus de sélection.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Comment suis-je rémunéré ?</mat-panel-title>
      </mat-expansion-panel-header>
      <p>L'architecte est rémunéré dans les 24 heures ouvrées après remise du compte rendu finalisé à l'acquéreur. Weflat reverse
        80€ à l'architecte à chaque prestation finalisée. Cette rémunération se fait par transfert bancaire ou transfert
        d'argent type peer-to-peer (à la convenance de l'architecte). ​Si vous lisez cette ligne, c'est que vous souhaitiez
        en savoir davantage et/ou être rassuré sur le service weflat (c'est tout à votre honneur). Il se peut que vous n'ayez
        pas trouvé réponse à votre question et vous invitons chaleureusement à nous contacter. Nous reviendrons vers vous
        rapidement et ajouterons votre question à cette page :)</p>
    </mat-expansion-panel>
  </mat-accordion>

  <!-- Call to action -->
  <section class="spacer text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1>Prêt(e) à visiter?</h1>
          <h5 class="text-muted">3 clics suffisent.</h5>
        </div>
        <div class="col-md-5">
          <div class="mt-4">
            <app-address-field></app-address-field>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>