<!-- 3 chiffres -->
<div class="container">
  <h2>Mon fil d'actualité</h2>
  <mat-card>Pierre souhaite visiter un bien dans votre zone d'action</mat-card>
  <br>
  <mat-card>Attention, vous n'avez plus que 3 heures pour soumettre le compte rendu de Juliette.</mat-card>
  <br>
</div>
<div class="container">
  <h2>Mon activité</h2>
  <div class="container mt-5">
    <div class="row justify-content-around">
      <mat-card>
        5 visites effectuées
        <mat-card-actions>
            <button mat-button>IMPRIMER</button>
          </mat-card-actions>
      </mat-card>
      <mat-card>
        400 € générés
      </mat-card>
      <mat-card class="cursor-not-allowed" matTooltip="Bientôt disponible">
        - / - notation
      </mat-card>
    </div>
  </div>
</div>