<div class="container">
  <h1>Mon profil</h1>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Prénom</label>
      <div class="col-sm-10">
        <input type="text" class="form-control name" [class.is-invalid]="form.controls.firstName.invalid && form.controls.firstName.touched"
          [class.is-valid]="!form.controls.firstName.invalid && form.controls.firstName.touched" placeholder="Prénom" formControlName="firstName">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Nom</label>
      <div class="col-sm-10">
        <input type="text" class="form-control name" [class.is-invalid]="form.controls.lastName.invalid && form.controls.lastName.touched"
          [class.is-valid]="!form.controls.lastName.invalid && form.controls.lastName.touched" placeholder="Nom" formControlName="lastName">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Date de naissance</label>
      <div class="col-sm-10">
        <div class="input-group">
          <input [matDatepicker]="birthDatePicker" class="form-control" [class.is-invalid]="form.controls.birthDate.invalid && form.controls.birthDate.touched"
            [class.is-valid]="!form.controls.birthDate.invalid && form.controls.birthDate.touched" placeholder="Date de naissance"
            formControlName="birthDate">
          <div class="input-group-append">
            <mat-datepicker-toggle matSuffix [for]="birthDatePicker"></mat-datepicker-toggle>
            <mat-datepicker [touchUi]="isMobile" #birthDatePicker></mat-datepicker>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">E-mail</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" [class.is-invalid]="form.controls.email.invalid && form.controls.email.touched"
          [class.is-valid]="!form.controls.email.invalid && form.controls.email.touched" placeholder="Email" formControlName="email">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Portable</label>
      <div class="col-sm-10">
        <input type="tel" class="form-control" [class.is-invalid]="form.controls.telephone.invalid && form.controls.telephone.touched"
          [class.is-valid]="!form.controls.telephone.invalid && form.controls.telephone.touched" placeholder="Numéro de téléphone portable"
          formControlName="telephone">
      </div>
    </div>
    <div class="form-group row" [formGroup]="passwordForm">
      <label class="col-lg-2 col-form-label">Mot de passe</label>
      <div class="col-lg-6">
        <input type="password" class="form-control" [class.is-invalid]="passwordForm.controls.password.invalid && passwordForm.controls.password.touched"
          [class.is-valid]="!passwordForm.controls.password.invalid && passwordForm.controls.password.touched" (keydown.enter)="changePassword(password.value, $event)"
          placeholder="Nouveau mot de passe" #password formControlName="password">
      </div>
      <div class="col-lg-4 mt-2 mt-lg-0">
        <button type="button" mat-raised-button color="primary" (click)="changePassword(password.value)">Changer le mot de passe</button>
      </div>
    </div>
    <div class="form-group row mt-3">
      <div class="col-sm-12">
        <button type="submit" mat-raised-button color="primary">Sauvegarder</button>
      </div>
    </div>
  </form>
</div>