.name {
    text-transform: capitalize;
}

.mat-form-field {
    width: 100%;
}

.google-maps-container {
    height: 400px;
}

.zip-codes-container {
    margin-bottom: 20px;
}

.warning-chip {
    background-color: #ffd740;
}

@keyframes emphasis {
    to {
      background-color: rgba(0, 0, 0, 0);
    }
  }

.emphasis {
    animation: emphasis 2s ease-in 1 forwards;
    background-color: orange;
}