<div class="container">
  <h1 style="font-size:3.2em;">Mes visites</h1>
  <div class="card">
    <div class="card-body">
      <button class="btn btn-primary float-right" type="button">Planifier une visite</button>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      Visite au 2, rue rivoli 75001 Paris planifiee le 13.02.2018
      <div class="progress" style="height: 20px;">
        <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">visite en cours d'attribution</div>
      </div>
      <div class="btn-toolbar float-right mt-2">
        <button class="btn btn-light float-right mr-2" type="button">Modifier</button>
        <button class="btn btn-danger float-right" type="button">Annuler</button>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      Visite au 3, rue rivoli 75001 Paris planifiee le 13.02.2018
      <div class="progress" style="height: 20px;">
        <div class="progress-bar" role="progressbar" style="width: 35%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">visite attribuee</div>
      </div>
      <div class="btn-toolbar float-right mt-2">
        <button class="btn btn-light float-right mr-2" type="button">Modifier</button>
        <button class="btn btn-light float-right mr-2" type="button">Contacter l'architecte</button>
        <button class="btn btn-danger float-right" type="button">Annuler</button>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      Visite au 3, rue rivoli 75001 Paris planifiee le 13.02.2018
      <div class="progress" style="height: 20px;">
        <div class="progress-bar" role="progressbar" style="width: 55%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">visite en cours</div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      Visite au 3, rue rivoli 75001 Paris planifiee le 13.02.2018
      <div class="progress" style="height: 20px;">
        <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Compte rendu en cours de redaction</div>
      </div>
      <button class="btn btn-light float-right" type="button">Contacter l'architecte</button>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      Visite au 3, rue rivoli 75001 Paris planifiee le 13.02.2018
      <div class="progress" style="height: 20px;">
        <div class="progress-bar bg-success" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Compte rendu disponible</div>
      </div>
      <div class="btn-toolbar float-right mt-2">
        <button class="btn btn-light mr-2" type="button">Noter l'architecte</button>
        <button class="btn btn-light float-right mr-2" type="button">Contacter l'architecte</button>
        <form method="get" action="acheteur_CR.html">
          <button class="btn btn-primary" type="submit">Ouvrir le compte rendu</button>
        </form>
      </div>
    </div>
  </div>