<div class="container">
  <div *ngIf="hash">
    <h1>
      Réinitialisation du mot de passe
    </h1>
    <div *ngIf="resetPasswordFailed" class="alert alert-danger" role="alert">
      La réinitialisation du mot de passe a échoué. Le lien que vous avez utilisé a probablement expiré ou est invalide.
    </div>
    <div *ngIf="resetPasswordSucccessful" class="alert alert-success" role="alert">
      Votre mot de passe a été réinitialisé avec succès. Vous pouvez dès à présent vous connecter !
    </div>
    <ng-container *ngIf="!resetPasswordSucccessful">
      <mat-form-field>
        <input type="password" #password (keydown.enter)="changePassword(password.value, $event)" matInput placeholder="Nouveau mot de passe">
      </mat-form-field>
      <button type="button" [disabled]="resetPasswordButtonDisabled" mat-raised-button color="primary" (click)="changePassword(password.value)">Changer le mot de passe</button>
    </ng-container>
  </div>
  <div *ngIf="!hash">
    <h1>
      Réinitialisation du mot de passe
    </h1>
    <div>Saisissez votre adresse e-mail ci-dessous afin que nous puissions vous envoyer un mail de réinitialisation</div>
    <div *ngIf="resetEmailFailed" class="alert alert-danger" role="alert">
      L'envoi du mail de réinitialisation a échoué. Vérifiez votre adresse email.
    </div>
    <div *ngIf="resetEmailSuccessful" class="alert alert-success" role="alert">
      Nous vous avons envoyé un mail de réinitialisation. Vérifiez votre boîte mail !
    </div>
    <ng-container *ngIf="!resetEmailSuccessful">
      <mat-form-field>
        <input #email (keydown.enter)="sendEmail(email.value, $event)" matInput placeholder="Adresse e-mail">
      </mat-form-field>
      <button type="button" [disabled]="resetEmailButtonDisabled" mat-raised-button color="primary" (click)="sendEmail(email.value)">Valider</button>
    </ng-container>
  </div>
</div>