<div class="container">
  <div *ngIf="hash">
    <h1>
      Réinitialisation du mot de passe
    </h1>
    <div *ngIf="resetPasswordFailed" class="alert alert-danger" role="alert">
      La réinitialisation du mot de passe a échoué. Le lien que vous avez utilisé a probablement expiré ou est invalide.
    </div>
    <div *ngIf="resetPasswordSucccessful" class="alert alert-success" role="alert">
      Votre mot de passe a été réinitialisé avec succès. Vous pouvez dès à présent vous connecter !
    </div>
    <form *ngIf="!resetPasswordSucccessful" [formGroup]="resetPasswordForm" (ngSubmit)="changePassword()" novalidate>
      <mat-form-field>
        <input formControlName="password" type="password" #password matInput placeholder="Nouveau mot de passe">
        <mat-error>
          Saisissez un mot de passe de 6 caractères
        </mat-error>
      </mat-form-field>
      <button type="submit" [disabled]="resetPasswordButtonDisabled" mat-raised-button color="primary">Changer le mot de passe</button>
    </form>
  </div>
  <div *ngIf="!hash">
    <h1>
      Réinitialisation du mot de passe
    </h1>
    <div>Saisissez votre adresse e-mail ci-dessous afin que nous puissions vous envoyer un mail de réinitialisation</div>
    <div *ngIf="resetEmailFailed" class="alert alert-danger" role="alert">
      L'envoi du mail de réinitialisation a échoué. Vérifiez votre adresse email.
    </div>
    <div *ngIf="resetEmailSuccessful" class="alert alert-success" role="alert">
      Nous vous avons envoyé un mail de réinitialisation. Vérifiez votre boîte mail !
    </div>
    <form *ngIf="!resetEmailSuccessful" [formGroup]="resetEmailForm" (ngSubmit)="sendEmail()" novalidate>
      <mat-form-field>
        <input formControlName="email" #email matInput placeholder="Adresse e-mail">
        <mat-error>
          Saisissez votre adresse mail
        </mat-error>
      </mat-form-field>
      <button type="submit" [disabled]="resetEmailButtonDisabled" mat-raised-button color="primary">Valider</button>
    </form>
  </div>
</div>