<div class="container">
  <mat-accordion class="example-headers-align" multi="true">
    <mat-expansion-panel [expanded]="beingAssignedVisitsExpanded">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Visites en cours d'attribution
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngIf="!beingAssignedVisits || !beingAssignedVisits.length">Pas de visite en cours d'attribution</div>
      <ng-container *ngFor="let visit of beingAssignedVisits">
        <app-visit-list-item [visit]="visit" (click)="visitClick(visit)"></app-visit-list-item>
        <mat-divider></mat-divider>
      </ng-container>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="canceledVisitsExpanded">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Visites annulées
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngIf="!canceledVisits || !canceledVisits.length">Pas de visite annulée</div>
      <ng-container *ngFor="let visit of canceledVisits">
        <app-visit-list-item [visit]="visit" (click)="visitClick(visit)"></app-visit-list-item>
        <mat-divider></mat-divider>
      </ng-container>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="inProgressVisitsExpanded">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Visites en cours
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngIf="!inProgressVisits || !inProgressVisits.length">Pas de visite en cours</div>
      <ng-container *ngFor="let visit of inProgressVisits">
        <app-visit-list-item [visit]="visit" (click)="visitClick(visit)"></app-visit-list-item>
        <mat-divider></mat-divider>
      </ng-container>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="refundedVisitsExpanded">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Visites remboursées
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngIf="!refundedVisits || !refundedVisits.length">Pas de visite remboursée</div>
      <ng-container *ngFor="let visit of refundedVisits">
        <app-visit-list-item [visit]="visit" (click)="visitClick(visit)"></app-visit-list-item>
        <mat-divider></mat-divider>
      </ng-container>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="reportAvailableVisitsExpanded">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Visites dont le rapport est disponible
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngIf="!reportAvailableVisits || !reportAvailableVisits.length">Pas de visite dont le rapport est disponible</div>
      <ng-container *ngFor="let visit of reportAvailableVisits">
        <app-visit-list-item [visit]="visit" (click)="visitClick(visit)"></app-visit-list-item>
        <mat-divider></mat-divider>
      </ng-container>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="reportBeingWrittenVisitsExpanded">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Visites dont le rapport est en cours
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngIf="!reportBeingWrittenVisits || !reportBeingWrittenVisits.length">Pas de visite dont le rapport est en cours</div>
      <ng-container *ngFor="let visit of reportBeingWrittenVisits">
        <app-visit-list-item [visit]="visit" (click)="visitClick(visit)"></app-visit-list-item>
        <mat-divider></mat-divider>
      </ng-container>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="unassignedVisitsExpanded">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Visites non attribuées
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngIf="!unassignedVisits || !unassignedVisits.length">Pas de visite non attribuée</div>
      <ng-container *ngFor="let visit of unassignedVisits">
        <app-visit-list-item [visit]="visit" (click)="visitClick(visit)"></app-visit-list-item>
        <mat-divider></mat-divider>
      </ng-container>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="waitingForPaymentVisitsExpanded">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Visites en attente de paiement
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngIf="!waitingForPaymentVisits || !waitingForPaymentVisits.length">Pas de visite en attente de paiement</div>
      <ng-container *ngFor="let visit of waitingForPaymentVisits">
        <app-visit-list-item [visit]="visit" (click)="visitClick(visit)"></app-visit-list-item>
        <mat-divider></mat-divider>
      </ng-container>
    </mat-expansion-panel>
  </mat-accordion>
</div>