<mat-horizontal-stepper [linear]="isLinear">
  <mat-step [stepControl]="dateFormGroup">
    <form [formGroup]="dateFormGroup">
      <ng-template matStepLabel>A quelle date est prévue votre visite ?</ng-template>
      <mat-form-field>
        <input matInput [matDatepicker]="picker" formControlName="datePicker" placeholder="Choisissez une date..." required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Suivant</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="addressFormGroup">
    <form [formGroup]="addressFormGroup">
      <div class="d-flex flex-row" style="width:100%; height: 600px">
        <div style="flex: 0.3; display: flex; flex-direction: column;" class="left-container">
          <ng-template matStepLabel>Adresse du logement</ng-template>
          <mat-form-field>
            <input matInput placeholder="Adresse" formControlName="addressInput" required #addressInput>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Numéro de voie" formControlName="streetNumber" required #streetNumber>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Voie" formControlName="route" required #route>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Code postal" formControlName="zipCode" required #zipCode>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Ville" formControlName="city" required #city>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Précédent</button>
            <button mat-button matStepperNext>Suivant</button>
          </div>
        </div>
        <div #googleMap style="flex: 0.7"></div>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Terminé</ng-template>
    Votre demande a été transmise. Les architectes qui peuvent se déplacer sur le lieu de visite ont été notifiés.
    <div>
      <button mat-button matStepperPrevious>Précédent</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>