<mat-horizontal-stepper [linear]="isLinear">
  <mat-step [stepControl]="dateFormGroup">
    <form [formGroup]="dateFormGroup">
      <ng-template matStepLabel>A quelle date est prévue votre visite ?</ng-template>
      <mat-form-field>
        <input matInput [matDatepicker]="picker" formControlName="datePicker" placeholder="Choisissez une date..." required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Suivant</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="addressFormGroup">
    <div class="d-flex flex-row" style="position: absolute; bottom: 0; width:100%; height: 100%">
      <div style="flex: 0.3" class="left-container">
        <form [formGroup]="addressFormGroup">
          <ng-template matStepLabel>Adresse du logement</ng-template>
          <mat-form-field>
            <input matInput placeholder="Address" formControlName="secondCtrl" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Précédent</button>
            <button mat-button matStepperNext>Suivant</button>
          </div>
        </form>
      </div>
      <div id="googleMap" style="flex: 0.7"></div>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Terminé</ng-template>
    Votre demande a été transmise. Les architectes qui peuvent se déplacer sur le lieu de visite ont été notifiés.
    <div>
      <button mat-button matStepperPrevious>Précédent</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
<p>{{place}}</p>