<mat-horizontal-stepper [linear]="isLinear">
  <mat-step [stepControl]="dateFormGroup">
    <form [formGroup]="dateFormGroup">
      <ng-template matStepLabel>A quelle date est prévue votre visite ?</ng-template>
      <mat-form-field>
        <input matInput type="datetime-local" formControlName="datePicker" placeholder="Choisissez une date..." required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Suivant</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="addressFormGroup">
    <form [formGroup]="addressFormGroup">
      <div class="row">
        <div class="col-sm-4">
          <ng-template matStepLabel>Adresse du logement</ng-template>
          <mat-form-field>
            <input matInput placeholder="Adresse" formControlName="addressInput" required #addressInput>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Numéro de voie" formControlName="streetNumber" required #streetNumber>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Voie" formControlName="route" required #route>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Code postal" formControlName="zipCode" required #zipCode>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Ville" formControlName="city" required #city>
          </mat-form-field>
        </div>
        <div class="col-sm-8 google-maps-container" #googleMap>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button mat-button matStepperPrevious>Précédent</button>
          <button mat-button matStepperNext>Suivant</button>
        </div>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Terminé</ng-template>
    En cliquant sur le bouton "Terminer", votre demande sera transmise aux architectes les plus proches.
    <div>
      <button mat-button matStepperPrevious>Précédent</button>
      <button mat-raised-button color="primary" (click)="createVisit()">Terminer</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>