<h1 mat-dialog-title>
  Comment enrichir le compte rendu ?
  <button type="button" class="clickable close float-end" (click)="closeClicked()">
    <span aria-hidden="true">&times;</span>
  </button>
</h1>
<div mat-dialog-content>
  <p>Le compte-rendu a principalement deux objectifs :</p>
  <ul>
    <li>Synthétiser vos échanges avec le client durant la visite</li>
    <li>Ajouter les éléments sur lesquels vous deviez vous renseigner.</li>
  </ul>
  <p>Pour que le client conserve une bonne opinion de la prestation, respectez les points suivants :</p>
  <h2 mat-dialog-title>1 – Anticipez les attentes du client</h2>
  <p>A la fin de la visite, expliquez au client quels éléments se trouveront dans le compte rendu : quelles rubriques
    et quelles explications vous serez en mesure de renseigner d’après votre expérience de la visite et de ce que
    vous
    serez capable d’apporter comme analyses complémentaires (ex : estimation de coûts de travaux, démarches
    administratives, etc.)</p>
  <h2 mat-dialog-title>2 – Attention à la forme</h2>
  <p>La forme est au service du fond !
    Faites attention à la syntaxe (privilégiez des phrases concises) et l’orthographe.
    Remplissez un maximum de rubriques même avec des commentaires succints. Cela améliore la vision d’ensemble de la
    qualité du compte rendu.</p>
  <h2 mat-dialog-title>3 – Restez simple</h2>
  <p>Le but de la prestation weflat, synthétisée dans le compte rendu, est de rassurer le client dans son
    positionnement par rapport au bien visité.
    On ne vous demande pas une étude complète !
    Privilégiez des explications simples et courtes qui répondent à la problématique du client. Vous devez :</p>
  <ul>
    <li>Reprendre la qualité des bien au travers de la grille reprenant chaque élément d’un bien (états des murs,
      sols,
      plafonds, plomberie, luminosité, etc.) pour qualifier l’état actuel ;</li>
    <li>Valider ou invalider la faisabilité du projet du client en donnant lui donnant des pistes, les éléments à
      approfondir pour les mener à bien et les contraintes anticipées (coût, durée des travaux, etc.)</li>
  </ul>
  <p>Si vous avez le temps d’ajouter une esquisse à main levée ou à l’ordinateur, cela sera un vrai plus pour le
    client ! En revanche nous comprenons que vous ne pouvez pas réaliser de plans cotés mais le client n’en a pas
    vraiment besoin à son stade de réflexion.</p>
</div>