.loader {
    background-color: white;
    box-shadow: 2px;
    position: fixed;
    top: calc(50% - 30px);
    right: calc(50% - 150px);
    width: 300px;
    height: 60px;
    display: flex;
    flex-direction: row;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.3);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.3);
    border-radius: 2px;
    align-items: center;
}

.spinner {
    margin: 15px;
}

::ng-deep .cdk-overlay-container {

    z-index: 10000;
}