<div [class.box-shadow]="!withoutBoxShadow" class="login-box center-box">
  <div id="account-attributes-challenge">
    <h2 class="title">
      Inscription architecte
    </h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="row-container">
        <div class="mat-control">
          <mat-form-field>
            <input matInput [(ngModel)]="data.firstName" required class="form-control name" formControlName="firstName" placeholder="Prénom">
          </mat-form-field>
        </div>
        <div class="mat-control">
          <mat-form-field>
            <input matInput [(ngModel)]="data.lastName" required class="form-control name" formControlName="lastName" placeholder="Nom">
          </mat-form-field>
        </div>
      </div>
      <div class="row-container">
        <div class="mat-control">
          <mat-form-field>
            <input type="email" matInput [(ngModel)]="data.email" required class="form-control" formControlName="email" placeholder="E-mail">
            <mat-error *ngIf="registerForm.controls.email.hasError('pattern')">
              Veuillez entrer une adresse e-mail valide.
            </mat-error>
            <mat-error *ngIf="registerForm.controls.email.hasError('required')">
              L'adresse e-mail est
              <strong>requise</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row-container">
        <div class="mat-control">
          <mat-form-field>
            <input matInput [(ngModel)]="data.password" required class="form-control" type="password" formControlName="password" placeholder="Mot de passe">
            <mat-error *ngIf="registerForm.controls.password.hasError('minlength')">
              Veuillez saisir 6 caractères
            </mat-error>
          </mat-form-field>
        </div>
        <div class="mat-control">
          <mat-form-field>
            <input matInput required class="form-control" type="password" formControlName="verifyPassword" placeholder="Mot de passe">
            <mat-error *ngIf="registerForm.controls.verifyPassword.hasError('verifyPasswordFailed')">
              Le mot de passe ne correspond pas.
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row-container">
        <button mat-raised-button color="primary" class="mat-primary submit-button" type="submit">Continuer</button>
      </div>
    </form>
  </div>
</div>