<div class="not-found-container">
  <div class="error-row">
    <div class="col-md-12">
      <div class="error-template">
        <h1>
          Oops !</h1>
        <h2>
          Erreur 404</h2>
        <div class="error-details">
          Désolé, une erreur a eu lieu, la page demandée n'a pas été trouvée !
        </div>
        <div class="error-actions">
          <a routerLink="/" mat-raised-button color="primary" class="mx-3">
            <mat-icon>home</mat-icon>
            Retour à l'accueil
          </a>
          <a mat-raised-button href="mailto:contact@weflat.fr" class="mx-3 mt-3">
            <mat-icon>email</mat-icon>
            Contacter le support
          </a>
        </div>
      </div>
    </div>
  </div>
</div>