a {
    cursor: pointer;
}

.collapse,
.collapse.show {
    display: block !important;
    transition: all .25s ease-in-out;
}

.collapse {
    opacity: 0;
    height: 0;
}

.collapse.show {
    opacity: 1;
    height: 100%;
}

.popup {
    max-width: 400px;
}

.close {
    margin-bottom: 0.5rem;
}

/** Menu button **/

.menu-button {
    position: relative;
    transition: top 225ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu {
    width: 24px;
    height: 24px;
    position: relative;
    z-index: 0;
    margin: 15% auto;
    display: inline-block;
}

.menu .bit-1::before {
    content: '';
    left: 0;
    top: 16.67%;
    position: absolute;
    width: 50%;
    transform-origin: left bottom;
    height: 3px;
    background-color: #2E313C;
    transition: transform 0.3s, top 0.3s;
}

.menu .bit-1::after {
    content: '';
    position: absolute;
    right: 0;
    top: 16.67%;
    width: 50%;
    transform-origin: right bottom;
    height: 3px;
    background-color: #2E313C;
    transition: transform 0.3s, top 0.3s;
}

.menu .bit-2 {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    height: 3px;
    background-color: #2E313C;
    transform: translate(-50%, -50%);
    transition: transform 0.3s 0.3s, width 0.3s 0.6s;
}

.menu .bit-3::before {
    content: '';
    position: absolute;
    bottom: 16.67%;
    left: 0;
    width: 50%;
    transform-origin: left top;
    height: 3px;
    background-color: #2E313C;
    transition: transform 0.3s, bottom 0.3s;
}

.menu .bit-3::after {
    content: '';
    position: absolute;
    bottom: 16.67%;
    right: 0;
    width: 50%;
    transform-origin: right top;
    height: 3px;
    background-color: #2E313C;
    transition: transform 0.3s, bottom 0.3s;
}

.menu.open .bit-1:before {
    top: -2.93%;
    width: 64%;
    transform: rotate(45deg);
    transform-origin: left bottom;
    background-color: #FFFFFF;
    transition: transform 0.3s 0.3s, width 0.3s 0.3s, top 0.3s 0.3s;
}

.menu.open .bit-1:after {
    top: -2.93%;
    width: 64%;
    transform: rotate(-45deg);
    transform-origin: right bottom;
    background-color: #FFFFFF;
    transition: transform 0.3s 0.3s, width 0.3s 0.3s, top 0.3s 0.3s;
}

.menu.open .bit-2 {
    width: 3px;
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: #FFFFFF;
    transition: transform 0.3s 0.3s, width 0.3s;
}

.menu.open .bit-3:before {
    bottom: -2.93%;
    width: 64%;
    transform: rotate(-45deg);
    transform-origin: left top;
    background-color: #FFFFFF;
    transition: transform 0.3s 0.3s, width 0.3s 0.3s, bottom 0.3s 0.3s;
}

.menu.open .bit-3:after {
    bottom: -2.93%;
    width: 64%;
    transform: rotate(45deg);
    transform-origin: right top;
    background-color: #FFFFFF;
    transition: transform 0.3s 0.3s, width 0.3s 0.3s, bottom 0.3s 0.3s;
}
