<header>
  <mat-expansion-panel #expandingFooter class="bg-dark">
    <div class="container" #footerBody>
      <div class="row">
        <div class="col-sm-6 py-4">
          <p class="text-white">A propos de Weflat</p>
          <p class="text-muted">Weflat met en relation les acheteurs et les architectes.</p>
          <a class="fa fa-facebook-official fa-inverse fa-lg" aria-hidden="true" href="https://www.facebook.com/WeflatFrance/"></a>
          <a class="fa fa-twitter fa-inverse fa-lg ml-1" aria-hidden="true" href="https://twitter.com/weflat"></a>
        </div>
        <div class="col-sm-2 py-4">
          <p class="text-white">Contact</p>
          <ul class="list-unstyled">
            <li>
              <a href="mailto:contact@weflat.fr" class="text-white">contact@weflat.fr</a>
            </li>
            <li>
              <p class="text-muted">82 rue truffaut
                <br>75017 Paris</p>
            </li>
          </ul>
        </div>
        <div class="col-sm-4 py-4">
          <p class="text-white">Informations</p>
          <ul class="list-unstyled">
            <li>
              <a href="#" class="text-white">Blog</a>
            </li>
            <li>
              <a routerLink="/faq" class="text-white">Questions fréquentes</a>
            </li>
            <li>
              <a routerLink="/eula" class="text-white">Conditions générales d'utilisation</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
  <div class="navbar navbar-light bg-faded">
    <div class="container d-flex justify-content-between">
      <a class="weflat-logo" routerLink="/">
        <img src="assets/logofinal.png" width="70" />
      </a>
      <div>
        <div *ngIf="token" class="d-inline-block" placement="bottom-right">
          <button mat-button type="button" class="dropdown-button" [matMenuTriggerFor]="personalMenu">
            {{displayName}}
          </button>
          <mat-menu #personalMenu="matMenu" overlapTrigger="false" xPosition="before">
            <button mat-menu-item (click)="redirectToPersonal()">Mon espace personnel</button>
            <button mat-menu-item (click)="logout()">Déconnexion</button>
          </mat-menu>
        </div>
        <button *ngIf="!token" type="button" (click)="openSignin(signinModal)" mat-button>
          Se connecter
        </button>
        <button class="menu-button" [style.top]="menuButtonTopOffset" mat-icon-button type="button" (click)="toggleFooter()">
          <div class="menu" [class.open]="this.expandingFooter.expanded">
            <div class="bit-1"></div>
            <div class="bit-2"></div>
            <div class="bit-3"></div>
          </div>
        </button>
      </div>
    </div>
  </div>
</header>

<ng-template #signinModal>
  <div class="popup">
    <div class="d-flex flex-row justify-content-between">
      <h5>Connexion</h5>
      <button type="button" class="close" (click)="closeSignin()">
        <span>&times;</span>
      </button>
    </div>
    <div class="mb-2">
      <div class="alert alert-danger" role="alert" *ngIf="errorMessage && errorMessage.length !== 0">
        <strong>Erreur :</strong> {{errorMessage}}
      </div>
      <form (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
        <mat-form-field class="w-100">
          <input type="email" matInput class="form-control" placeholder="Adresse e-mail" name="username" [(ngModel)]="model.username"
            #username="ngModel" required>
          <mat-error *ngIf="f.submitted && !username.valid">
            L'adresse e-mail est
            <strong>requise</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="w-100">
          <input type="password" matInput class="form-control" placeholder="Mot de passe" name="password" [(ngModel)]="model.password"
            #password="ngModel" required>
          <mat-error *ngIf="f.submitted && !username.valid">
            Le mot de passe est
            <strong>requis.</strong>
          </mat-error>
        </mat-form-field>
        <div class="d-flex flex-row-reverse">
          <button mat-raised-button color="primary" [disabled]="loading">Se connecter</button>
        </div>
        <div class="d-flex flex-row-reverse">
          <a routerLink="/forgotten-password">Mot de passe oublié ?</a>
        </div>
      </form>
    </div>
    <mat-divider></mat-divider>
    <div class="mt-2">
      <div class="d-flex justify-content-between">
        <div>Vous n'avez pas de compte ?</div>
        <div>
          <button mat-raised-button color="primary" type="button" (click)="closeSignin(); openSignup(signupModal)">S'inscrire</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #signupModal>
  <div class="d-flex flex-row justify-content-between">
    <h5>Qui êtes-vous ?</h5>
    <button type="button" class="close" (click)="closeSignup()">
      <span>&times;</span>
    </button>
  </div>

  <div class="modal-body d-flex flex-row justify-content-around">
    <button mat-raised-button color="primary" type="button" class="mr-2" [mat-dialog-close]="'acheteur'">Un acheteur</button>
    <button mat-raised-button color="primary" type="button" class="ml-2" [mat-dialog-close]="'architecte'">Un architecte</button>
  </div>
</ng-template>
