a {
    cursor: pointer;
}

.collapse, .collapse.show {
    display: block !important;
    transition: all .25s ease-in-out;
}

.collapse {
    opacity: 0;
    height: 0;
}

.collapse.show {
    opacity: 1;
    height: 100%;
}

.popup {
    max-width:300px;
}

.close {
    margin-bottom: 0.5rem;
}