<!--jumbotron debut-->
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Visiter avec un architecte avant d'acheter</h1>
    <h5 class="text-muted">Connaître la qualité et le potentiel d'un bien immobilier pour 150€</h5>
    <div class="row justify-content-center mt-4">
      <div class="col-12 col-sm-8 col-lg-6">
        <app-address-field></app-address-field>
      </div>
    </div>
  </div>
</section>

<!--les references-->
<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-4 col-sm-3 col-md-2">
      <img src="assets/Maddynesslogo.svg">
    </div>
        <div class="col-4 col-sm-3 col-md-2">
      <img src="assets/leparisien.svg">
    </div>
    <div class="col-4 col-sm-3 col-md-2">
      <img src="assets/18h39-logo.svg">
    </div>
  </div>
</div>

<!--les arguments 1-->
<div class="container mt-5">
  <div class="row justify-content-around">
    <div class="col-sm-5">
      <h1>N'y allez plus seul.
        <span class="text-muted"> Mais bien accompagné.</span>
      </h1>
      <p class="text-muted"> Le recours à un architecte est considéré à tort comme élitiste. Weflat démocratise le conseil d’architecte dans le
        cadre d’un achat immobilier avec un service simple et abordable. </p>
    </div>
    <div class="col-sm-4">
      <div class="card border-light text-white">
        <img class="card-img" src="assets/livingroom.jpg" alt="Card image">
        <div class="card-img-overlay">
        </div>
      </div>
    </div>
  </div>
</div>
<!--les arguments 2-->
<div class="container mt-5">
  <div class="row justify-content-around">
    <div class="col-sm-4">
      <div class="card border-light text-white">
        <img class="card-img" src="assets/cuisine.jpg" alt="Card image">
        <div class="card-img-overlay">
        </div>
      </div>
    </div>
    <div class="col-sm-7">
      <h1>3 étapes.
        <span class="text-muted"> Seulement.</span>
      </h1>
      <h4>Programmez la visite</h4>
      <p class="text-muted">Des la réception de votre demande, nous faisons appel à notre communauté composée uniquement d'architectes talentueux,
        créatifs et rigoureux. Une confirmation d'attribution d'architecte vous sera envoyée en quelques heures. </p>
      <h4>Visitez avec l'architecte</h4>
      <p class="text-muted">L'architecte évalue la qualité et le potentiel du bien en accord avec vos attentes. Son expérience, son regard extérieur
        et indépendant vous assurent de faire le bon choix.</p>
      <h4>Recevez le compte rendu détaillé</h4>
      <p class="text-muted">La vision et les remarques de l'architecte vous sont transmises dans les 12 heures ouvrées sous forme d'un compte rendu
        construit par Weflat. Aucune de vos questions ne resteront sans réponses: atouts, contraintes, proposition d'aménagement
        sous plan 2D, estimation du budget des travaux de rénovation...</p>
    </div>
  </div>
</div>


<!--Chiffres-->
<div class="container text-center mt-5">
  <h1>Weflat oeuvre pour de meilleurs
    <br> achats immobiliers</h1>
  <div class="container mt-3">
    <div class="row">
      <div class="col-sm">
        <h1 style="font-size:3.5em;">500+</h1>
        <p class="text-muted">visites</p>
      </div>
      <div class="col-sm">
        <h1 style="font-size:3.5em;">50+</h1>
        <p class="text-muted">architectes</p>
      </div>
      <div class="col-sm">
        <h1 style="font-size:3.5em;">6</h1>
        <p class="text-muted">départements</p>
      </div>
    </div>
  </div>
</div>

<!-- Architectes -->
<div class="container text-right mt-5">
  <div id="cardclickable" routerLink="/architect-onboarding" class="card bg-dark text-white">
    <img class="card-img" src="assets/mainroom4.jpg">
    <div class="card-img-overlay">
      <h1 class="card-title">Vous êtes architecte?</h1>
      <h4 class="card-text">Rejoignez la communauté pour compléter vos revenus <br> et développer votre réseau</h4>
    </div>
  </div>
</div>

<!-- Arguments -->
<div class="container mt-5 text-center">
  <h1>Un coup de coeur mérite toujours un
    <br>coup d'oeil d'architecte</h1>
  
        <mat-tab-group mat-center-tab-group="true" class="demo-tab-group mt-5">
          <mat-tab label="Tab 1">
            <ng-template mat-tab-label>
              <i class="material-icons">mood</i>
            </ng-template>
            <div class="demo-tab-content mt-5">
              Le tarif est fixe et transparent
            </div>
          </mat-tab>
          <mat-tab label="Tab 2">
            <ng-template mat-tab-label>
              <mat-icon>query_builder</mat-icon>
            </ng-template>
            <div class="demo-tab-content mt-5">
              Nos architectes interviennent en moins de 6H
            </div>  
          </mat-tab>
          <mat-tab label="Tab 3">
            <ng-template mat-tab-label>
              <mat-icon>send</mat-icon>
            </ng-template>
            <div class="demo-tab-content mt-5">
              Le compte rendu est transmis dans les 12H ouvrées
            </div>  
          </mat-tab>
          <mat-tab label="Tab 4">
            <ng-template mat-tab-label>
              <mat-icon>build</mat-icon>
            </ng-template>
            <div class="demo-tab-content mt-5">
              L'estimation du budget des travaux détaille chaque poste de rénovation
            </div>  
          </mat-tab>
          <mat-tab label="Tab 5">
            <ng-template mat-tab-label>
              <mat-icon>explore</mat-icon>
            </ng-template>
            <div class="demo-tab-content mt-5">
              Un plan 2D illustre le potentiel du bien immobilier
            </div>  
          </mat-tab>
          <mat-tab label="Tab 6">
            <ng-template mat-tab-label>
              <mat-icon>call</mat-icon>
            </ng-template>
            <div class="demo-tab-content mt-5">
              Notre équipe d’assistance est à votre disposition 7j/7
            </div> 
          </mat-tab>
        </mat-tab-group>

<!-- Temoignages -->
<div class="container mt-5">
  <div class="row justify-content-around">
    <blockquote class="twitter-tweet" data-lang="en">
      <p lang="fr" dir="ltr">
        <a href="https://twitter.com/weflat?ref_src=twsrc%5Etfw">@weflat</a> Après cette visite, je n&#39;imagine plus acheter mon appartement sans les conseils de weflat! Le CONCEPT
        est TOP! 😀👌🏽</p>&mdash; Lambert Valentine (@ValLbt)
      <a href="https://twitter.com/ValLbt/status/827218845672865792?ref_src=twsrc%5Etfw">February 2, 2017</a>
    </blockquote>
    <blockquote class="twitter-tweet" data-lang="en">
      <p lang="fr" dir="ltr">
        <a href="https://twitter.com/weflat?ref_src=twsrc%5Etfw">@weflat</a> super application qui m&#39;a permis d&#39;être accompagné d&#39;un pro pour ma visite d&#39;appartement.</p>&mdash;
      nesrine (@NouiraNesrine)
      <a href="https://twitter.com/NouiraNesrine/status/844897780359409665?ref_src=twsrc%5Etfw">March 23, 2017</a>
    </blockquote>
  </div>
</div>

<!-- Call to action -->
<section class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
        <h1 class="jumbotron-heading">Prêt(e) à visiter?</h1>
        <h5 class="text-muted">3 clics suffisent.</h5>
      </div>
      <div class="col-sm-4">
        <div class="mt-4">
          <app-address-field></app-address-field>
        </div>
      </div>
    </div>
  </div>
</section>