<!--jumbotron debut-->
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Visiter avec un architecte avant d'acheter</h1>
    <h5 class="text-muted">Connaître la qualité et le potentiel d'un bien immobilier pour 150€</h5>
    <div class="row justify-content-center mt-4">
      <div class="col-12 col-sm-8 col-lg-6">
        <app-address-field></app-address-field>
      </div>
    </div>
  </div>
</section>

<!--les references-->
<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-4 col-sm-3 col-md-2">
      <img src="assets/Maddynesslogo.svg" width="80" />
    </div>
    <div class="col-4 col-sm-3 col-md-2">
      <img src="assets/leparisien.svg" width="80" />
    </div>
    <div class="col-4 col-sm-3 col-md-2">
      <img src="assets/18h39-logo.svg" width="80" />
    </div>
  </div>
</div>

<!--les arguments 1-->
<div class="container mt-5">
  <div class="row justify-content-around">
    <div class="col-sm-5">
      <h1>N'y allez plus seul.
        <span class="text-muted"> Mais bien accompagné.</span>
      </h1>
      <p class="text-muted"> Le recours à un architecte est considéré à tort comme élitiste. Weflat démocratise le
        conseil d’architecte dans le
        cadre d’un achat immobilier avec un service simple et abordable. </p>
    </div>
    <div class="col-sm-4">
      <div class="card border-light text-white">
        <img class="card-img" src="assets/kitchen_350px.jpg" alt="Card image">
        <div class="card-img-overlay">
        </div>
      </div>
    </div>
  </div>
</div>
<!--les arguments 2-->
<div class="container mt-5">
  <div class="row justify-content-around">
    <div class="col-sm-7 order-sm-2">
      <h1>3 étapes.
        <span class="text-muted"> Seulement.</span>
      </h1>
      <h4>Programmez la visite</h4>
      <p class="text-muted">Des la réception de votre demande, nous faisons appel à notre communauté composée
        uniquement d'architectes talentueux,
        créatifs et rigoureux. Une confirmation d'attribution d'architecte vous sera envoyée en quelques heures. </p>
      <h4>Visitez avec l'architecte</h4>
      <p class="text-muted">L'architecte évalue la qualité et le potentiel du bien en accord avec vos attentes. Son
        expérience, son regard extérieur
        et indépendant vous assurent de faire le bon choix.</p>
      <h4>Recevez le compte rendu détaillé</h4>
      <p class="text-muted">La vision et les remarques de l'architecte vous sont transmises dans les 12 heures ouvrées
        sous forme d'un compte rendu
        construit par Weflat. Aucune de vos questions ne resteront sans réponses: atouts, contraintes, proposition
        d'aménagement
        sous plan 2D, estimation du budget des travaux de rénovation...</p>
    </div>
    <div class="col-sm-4 order-sm-1">
      <div class="card border-light text-white">
        <img class="card-img" src="assets/living_350px.jpg" alt="Card image">
        <div class="card-img-overlay">
        </div>
      </div>
    </div>
  </div>
</div>


<!--Chiffres-->
<div class="container text-center spacer">
  <h1>Weflat oeuvre pour de meilleurs
    <br> achats immobiliers</h1>
  <div class="container mt-3">
    <div class="row">
      <div class="col-sm">
        <h1 style="font-size:3.5em;">500+</h1>
        <p class="text-muted">visites</p>
      </div>
      <div class="col-sm">
        <h1 style="font-size:3.5em;">50+</h1>
        <p class="text-muted">architectes</p>
      </div>
      <div class="col-sm">
        <h1 style="font-size:3.5em;">6</h1>
        <p class="text-muted">départements</p>
      </div>
    </div>
  </div>
</div>

<!-- Architectes -->
<div class="container text-right spacer">
  <a routerLink="/architect-onboarding" class="card bg-dark text-white clickable-card">
    <img class="card-img" [src]="architectOnboardingButtonImgSrc">
    <div class="card-img-overlay">
      <h1 class="card-title"><span class="mildly-transparent-bg">Vous êtes architecte ?</span></h1>
      <h4 class="card-text"><span class="mildly-transparent-bg">Rejoignez la communauté pour compléter vos revenus et développer votre réseau</span></h4>
    </div>
  </a>
</div>

<!-- Arguments -->
<div class="container spacer text-center">
  <h1>Un coup de coeur mérite toujours un
    <br>coup d'oeil d'architecte</h1>

  <mat-tab-group mat-stretch-tabs class="mt-5">
    <mat-tab label="Tab 1">
      <ng-template mat-tab-label>
        <i class="material-icons">mood</i>
      </ng-template>
      <div class="mt-5">
        <h1>150€</h1>
        <p>Le tarif est fixe et transparent</p>
      </div>
    </mat-tab>
    <mat-tab label="Tab 2">
      <ng-template mat-tab-label>
        <mat-icon>query_builder</mat-icon>
      </ng-template>
      <div class="mt-5">
        <h1>J+1</h1>
        <p>Nos architectes peuvent intervenir dès le lendemain</p>
      </div>
    </mat-tab>
    <mat-tab label="Tab 3">
      <ng-template mat-tab-label>
        <mat-icon>send</mat-icon>
      </ng-template>
      <div class="mt-5">
        <h1>12H</h1>
        <p>Le compte rendu est transmis quelques heures après la visite</p>
      </div>
    </mat-tab>
    <mat-tab label="Tab 4">
      <ng-template mat-tab-label>
        <mat-icon>build</mat-icon>
      </ng-template>
      <div class="mt-5">
        <h1>+20</h1>
        <p>L'estimation du budget des travaux détaille la liste exhaustive des postes de rénovation</p>
      </div>
    </mat-tab>
    <mat-tab label="Tab 5">
      <ng-template mat-tab-label>
        <mat-icon>call</mat-icon>
      </ng-template>
      <div class="mt-5">
        <h1>7J/7</h1>
        <p>Notre équipe d’assistance est à votre disposition à tout moment</p>
      </div>
    </mat-tab>
  </mat-tab-group>

  <!-- Temoignages -->
  <div class="container spacer">
    <h1 class="mb-5">Ils nous font confiance</h1>
    <div class="row justify-content-around">
      <div class="col-sm-6">
        <h2 class="mb-3">Acheteurs</h2>
        <div #valentineTweet></div>
        <div #nesrineTweet></div>
      </div>
      <div class="col-sm-6">
        <h2 class="mb-3">Architectes</h2>
        <div class="architect-witness mb-2">
          <img class="img-big mr-2" src="assets/jpfuda.jpg">
          <div class="architect-witness-title-container">
            <strong class="d-flex">Jean-Pierre Fuda</strong>
            <span class="text-muted d-flex">Architecte d'intérieur à Montreuil - Paris</span>
          </div>
        </div>
        <p class="text-justify">C'est ma sœur qui travaille dans le web qui m'a parl&#233; de Weflat. L'id&#233;e m'a
          tout de suite plu et
          je me suis inscrit par curiosit&#233;. Finalement, les demandes de visites sont vite tomb&#233;es et j'en ai
          r&#233;alis&#233; une et parfois deux en moyenne par mois. Le principe est vraiment transparent et tout le
          monde y gagne : les potentiels acqu&#233;reurs peuvent avoir un aper&#231;u de ce que leur co&#251;teraient
          des travaux dans le bien qu'ils souhaiteraient acheter et cela leur permet de n&#233;gocier le prix avec les
          vendeurs ; les architectes qui font la visite sont d&#233;dommag&#233;s pour leur d&#233;placement m&#234;me
          si les clients ne donnent pas suite &#224; leur projet d'achat ou qu'ils ne font pas appel &#224; eux pour
          r&#233;aliser les travaux qu'ils ont fait estimer. Pour ma part, j'ai &#233;t&#233; sollicit&#233; plusieurs
          fois par les m&#234;mes clients qui ont appr&#233;ci&#233; mes conseils et j'ai m&#234;me d&#233;croch&#233;
          un projet de r&#233;novation dans un bel appartement parisien apr&#232;s avoir visit&#233; plusieurs biens
          avec une m&#234;me cliente ! D&#233;crocher un contrat, c'est vraiment la plus belle des r&#233;compenses
          parce que cela veut dire que les clients ont appr&#233;ci&#233; mes conseils et ont eu envie de continuer
          leur aventure immobili&#232;re avec moi ! Je ne peux que remercier toute l'&#233;quipe Weflat pour leur belle
          initiative de promotion de l'architecture aupr&#232;s du plus grand nombre.</p>
      </div>
    </div>
  </div>

  <!-- Call to action -->
  <section class="spacer">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1>Prêt(e) à visiter?</h1>
          <h5 class="text-muted">3 clics suffisent.</h5>
        </div>
        <div class="col-md-5">
          <div class="mt-4">
            <app-address-field></app-address-field>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>