<div class="container mt-3">
  <div class="container">
    <form [formGroup]="form" (ngSubmit)="saveForm()" novalidate>
      <button mat-raised-button type="button" (click)="backClick()">Retour</button>
      <span class="float-end">
        <button mat-raised-button matTooltip="Cette fonctionnalité sera bientôt disponible." color="primary" disabled="disabled"
          class="cursor-not-allowed" type="button">Télécharger
          au format pdf</button>
        <button (click)="openHelpDialog()" mat-icon-button type="button">
          <mat-icon>help_outline</mat-icon>
        </button>
      </span>
      <a *ngIf="displayArchitectContactButton" mat-raised-button class="me-2 float-end" href="mailto:{{report.visite.architect.email}}">Contacter
        l'architecte</a>
      <h2 class="mt-3">Mon compte rendu</h2>
      <div class="card mt-2">
        <div class="card-header">
          L'acheteur
        </div>
        <div class="card-body">
          <div class="mb-2 row">
            <label for="inputfirstname3" class="col-sm-2 col-form-label">Prénom</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" [class.is-invalid]="form.controls.firstName.invalid && form.controls.firstName.touched"
                [class.is-valid]="!form.controls.firstName.invalid && form.controls.firstName.touched" formControlName="firstName"
                placeholder="Prenom">
            </div>
          </div>
          <div class="mb-2 row">
            <label for="inputlastname3" class="col-sm-2 col-form-label">Nom</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" [class.is-invalid]="form.controls.lastName.invalid && form.controls.lastName.touched"
                [class.is-valid]="!form.controls.lastName.invalid && form.controls.lastName.touched" formControlName="lastName"
                placeholder="Nom">
            </div>
          </div>
          <div class="mb-2 row">
            <label for="inputlastname3" class="col-sm-2 col-form-label">Ses attentes</label>
            <div class="col-md-10">
              <textarea class="form-control" rows="3" [class.is-invalid]="form.controls.expectations.invalid && form.controls.expectations.touched"
                [class.is-valid]="!form.controls.expectations.invalid && form.controls.expectations.touched"
                placeholder="Les attentes de l'acheteur vis a vis de ce bien et de son projet d'achat. PI son projet d'achat est ..."
                required formControlName="expectations"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="card mt-2">
        <div class="card-header">
          La visite
        </div>
        <div class="card-body">
          <div class="mb-2 row">
            <label class="col-sm-2 col-form-label">Date de visite</label>
            <div class="col-sm-10">
              <input type="date" class="form-control" [class.is-invalid]="form.controls.visitDate.invalid && form.controls.visitDate.touched"
                [class.is-valid]="!form.controls.visitDate.invalid && form.controls.visitDate.touched" formControlName="visitDate"
                placeholder="Date de visite">
            </div>
          </div>
          <div class="mb-2 row">
            <label class="col-sm-2 col-form-label">Adresse</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" [class.is-invalid]="form.controls.address.invalid && form.controls.address.touched"
                [class.is-valid]="!form.controls.address.invalid && form.controls.address.touched" formControlName="address"
                placeholder="Adresse">
            </div>
          </div>
          <div class="mb-2 row">
            <label class="col-sm-2 col-form-label">Superficie</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" [class.is-invalid]="form.controls.surface.invalid && form.controls.surface.touched"
                [class.is-valid]="!form.controls.surface.invalid && form.controls.surface.touched" formControlName="surface"
                placeholder="Superficie">
            </div>
          </div>
          <div class="mb-2 row">
            <label class="col-sm-2 col-form-label">Pièces</label>
            <div class="col-sm-10">
              <div class="mb-2">
                <select class="form-control" [class.is-invalid]="form.controls.rooms.invalid && form.controls.rooms.touched"
                  [class.is-valid]="!form.controls.rooms.invalid && form.controls.rooms.touched" formControlName="rooms">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
              </div>
            </div>
          </div>
          <div class="mb-2 row">
            <label class="col-sm-2 col-form-label">Etage</label>
            <div class="col-sm-10">
              <div class="mb-2">
                <select class="form-control" [class.is-invalid]="form.controls.floor.invalid && form.controls.floor.touched"
                  [class.is-valid]="!form.controls.floor.invalid && form.controls.floor.touched" formControlName="floor">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
              </div>
            </div>
          </div>
          <div class="mb-2 row">
            <label class="col-sm-2 col-form-label">Orientation</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" [class.is-invalid]="form.controls.orientation.invalid && form.controls.orientation.touched"
                [class.is-valid]="!form.controls.orientation.invalid && form.controls.orientation.touched"
                formControlName="orientation" placeholder="Orientation">
            </div>
          </div>
        </div>
      </div>
      <div class="card mt-2">
        <div class="card-header">
          La qualité du bien immobilier
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th class="d-inline-block col-2">Poste</th>
                <th class="d-inline-block col-2">Etat</th>
                <th class="d-inline-block col-3">Travaux estimatifs</th>
                <th class="d-inline-block col-4">Remarques</th>
              </tr>
            </thead>
            <tbody formArrayName="renovations">
              <tr *ngFor="let renovation of renovations.controls;let i = index" [formGroupName]="i">
                <th class="d-inline-block col-2" scope="row">
                  <select class="custom-select" [class.is-valid]="renovation.get('position').touched && !renovation.get('position').invalid"
                    [class.is-invalid]="renovation.get('position').touched && renovation.get('position').invalid"
                    formControlName="position">
                    <option *ngFor="let position of positions" [disabled]="position.mandatory" [value]="position.id">{{position.label}}</option>
                    <option [value]="null">Autres</option>
                  </select>
                </th>
                <td class="d-inline-block col-2">
                  <div class="custom-control custom-radio">
                    <input class="custom-control-input" type="radio" [class.is-valid]="renovation.get('condition').touched && !renovation.get('condition').invalid"
                      [class.is-invalid]="renovation.get('condition').touched && renovation.get('condition').invalid"
                      formControlName="condition" [value]="0" id="good-{{i}}">
                    <label class="custom-control-label" for="good-{{i}}">Bon</label>
                  </div>
                  <div class="custom-control custom-radio">
                    <input class="custom-control-input" type="radio" [class.is-valid]="renovation.get('condition').touched && !renovation.get('condition').invalid"
                      [class.is-invalid]="renovation.get('condition').touched && renovation.get('condition').invalid"
                      formControlName="condition" [value]="1" id="average-{{i}}">
                    <label class="custom-control-label" for="average-{{i}}">Moyen</label>
                  </div>
                  <div class="custom-control custom-radio">
                    <input class="custom-control-input" type="radio" [class.is-valid]="renovation.get('condition').touched && !renovation.get('condition').invalid"
                      [class.is-invalid]="renovation.get('condition').touched && renovation.get('condition').invalid"
                      formControlName="condition" [value]="2" id="bad-{{i}}">
                    <label class="custom-control-label" for="bad-{{i}}">Mauvais</label>
                  </div>
                </td>
                <td class="d-inline-block col-3">
                  <input type="number" min="0" step="100" data-number-to-fixed="2" class="form-control"
                    [class.is-valid]="renovation.get('estimatedWork').touched && !renovation.get('estimatedWork').invalid"
                    [class.is-invalid]="renovation.get('estimatedWork').touched && renovation.get('estimatedWork').invalid"
                    formControlName="estimatedWork" placeholder="Montant en euros">
                </td>
                <td class="d-inline-block col-4">
                  <textarea class="form-control" rows="3" [class.is-valid]="renovation.get('remarks').touched && !renovation.get('remarks').invalid"
                    [class.is-invalid]="renovation.get('remarks').touched && renovation.get('remarks').invalid"
                    formControlName="remarks" placeholder="Remarques"></textarea>
                </td>
                <td class="d-inline-block col-1">
                  <button type="button" class="close" (click)="removeRenovation(i);" *ngIf="!mandatoryPositionsIds.includes(renovation.get('position').value)">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </td>
              </tr>
              <tr>
                <td class="d-inline-block col-12">
                  <button type="button" mat-raised-button color="primary" (click)="addRenovation()">Ajouter</button>
                </td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <th class="d-inline-block col-2" scope="row">
                  Global
                </th>
                <td class="d-inline-block col-2">
                  <div class="custom-control custom-radio">
                    <input class="custom-control-input" type="radio" [class.is-valid]="form.controls.globalCondition.touched && !form.controls.globalCondition.invalid"
                      [class.is-invalid]="form.controls.globalCondition.touched && form.controls.globalCondition.invalid"
                      formControlName="globalCondition" [value]="0" id="good">
                    <label class="custom-control-label" for="good">Bon</label>
                  </div>
                  <div class="custom-control custom-radio">
                    <input class="custom-control-input" type="radio" [class.is-valid]="form.controls.globalCondition.touched && !form.controls.globalCondition.invalid"
                      [class.is-invalid]="form.controls.globalCondition.touched && form.controls.globalCondition.invalid"
                      formControlName="globalCondition" [value]="1" id="average">
                    <label class="custom-control-label" for="average">Moyen</label>
                  </div>
                  <div class="custom-control custom-radio">
                    <input class="custom-control-input" type="radio" [class.is-valid]="form.controls.globalCondition.touched && !form.controls.globalCondition.invalid"
                      [class.is-invalid]="form.controls.globalCondition.touched && form.controls.globalCondition.invalid"
                      formControlName="globalCondition" [value]="2" id="bad">
                    <label class="custom-control-label" for="bad">Mauvais</label>
                  </div>
                </td>
                <td class="d-inline-block col-3">
                  <input type="text" class="form-control" placeholder="Somme auto-modifiable" [ngModel]="sumAmounts"
                    [ngModelOptions]="{standalone: true}" disabled="disabled">
                </td>
                <td class="d-inline-block col-4">
                  <textarea class="form-control" rows="3" [class.is-valid]="form.controls.globalQualityRemarks.touched && !form.controls.globalQualityRemarks.invalid"
                    [class.is-invalid]="form.controls.globalQualityRemarks.touched && form.controls.globalQualityRemarks.invalid"
                    formControlName="globalQualityRemarks" placeholder="Remarques générales"></textarea>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card mt-2">
        <div class="card-header">
          Le potentiel du bien immobilier
        </div>
        <div class="card-body">
          <div class="mb-2 row">
            <label class="col-sm-2 col-form-label">Remarques générales</label>
            <div class="col-md-10">
              <textarea class="form-control" rows="3" [class.is-invalid]="form.controls.generalRemarks.invalid && form.controls.generalRemarks.touched"
                [class.is-valid]="!form.controls.generalRemarks.invalid && form.controls.generalRemarks.touched"
                formControlName="generalRemarks" placeholder="Les remarques générales" required></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="mb-2 row mt-3">
        <div class="col-sm-12">
          <button type="submit" mat-raised-button color="primary">Sauvegarder</button>
          <button type="button" class="ms-2" mat-raised-button color="primary" (click)="submitClick()">Soumettre</button>
        </div>
      </div>
    </form>
  </div>
</div>

<ng-template #submitConfirmModal>
  <h4 mat-dialog-title>Soumettre le compte-rendu
    <button type="button" class="close" aria-label="Close" (click)="closeSubmitConfirmModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </h4>

  <div mat-dialog-content>
    <p>Vous êtes sur le point de soumettre votre compte-rendu. Aucune modification ne sera possible après soumission.</p>
  </div>
  <div mat-dialog-actions>
    <button type="button" mat-raised-button color="primary" [mat-dialog-close]="true">Soumettre</button>
    <button type="button" mat-raised-button [mat-dialog-close]="false">Annuler</button>
  </div>
</ng-template>