<ng-template #noArchitectsModal let-c="close" let-d="dismiss">
  <div class="d-flex flex-row justify-content-between">
    <h4 class="modal-title">Désolé !</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div>
    <p>Il n'y a aucun architecte disponible pour l'adresse {{visit.formattedAddress}}</p>
  </div>
  <div class="d-flex flex-row justify-content-around">
    <button type="button" mat-raised-button color="primary" [mat-dialog-close]="true">Autre adresse</button>
    <button type="button" mat-raised-button [mat-dialog-close]="false">Annuler</button>
  </div>
</ng-template>