<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Rejoignez notre communauté pour compléter vos revenus et développer votre réseau</h1>
  </div>
</section>

<app-register-architecte></app-register-architecte>

<!--les arguments 1-->
<div class="container mt-5">
  <div class="row justify-content-around">
    <div class="col-sm-5">
      <h1>Gagnez du temps.</h1>
      <p class="text-muted">Parce que nous pensons qu'un architecte doit avant tout consacrer son temps et son talent à ses travaux d'aménagement, weflat assure une prospection de clientèle efficace. Vous serez notifiés d'une demande de visite de bien immobilier par de futurs acquéreurs et connaîtrez à l'avance leurs envies et contraintes.</p>
      <br>
      <h1>Soyez rémunéré.</h1>
      <p class="text-muted">Chaque visite vous rapporte 80€. Dès le rendu de la visite reçu, weflat verse cet argent sur votre compte.</p>
    </div>
    
    <div class="col-sm-4">
      <div class="card border-light text-white">
        <img class="card-img" src="assets/kitchen.jpg" alt="Card image">
        <div class="card-img-overlay">
        </div>
      </div>
    </div>
  </div>
</div>
<!--les arguments 2-->
<div class="container mt-5">
  <div class="row justify-content-around">
    <div class="col-sm-4">
      <div class="card border-light text-white">
        <img class="card-img" src="assets/cuisine.jpg" alt="Card image">
        <div class="card-img-overlay">
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <h1>Gardez le contrôle.</h1>
      <p class="text-muted">Vous n'êtes notifiés que de demandes de visite correspondant aux plages horaires et quartiers que vous souhaitez. Weflat envoie une demande à plusieurs architectes jusqu'à acceptation de l'un d'entre eux.  
      </p>
      <br>
      <h1>Construisez votre réseau.</h1>
      <p class="text-muted">Une visite d'appartement est un moment privilégié avec de futurs acquéreurs. C'est une opportunité sans équivalent pour devenir le futur architecte de leurs travaux.  
      </p>
    </div>
  </div>
</div>
<br>
<br>
<br>


