<div class="popup">
  <div class="d-flex flex-row justify-content-between">
    <h5>Connexion</h5>
    <button type="button" class="close" (click)="close(false)">
      <span>&times;</span>
    </button>
  </div>
  <div class="mb-2">
    <div class="alert alert-danger" role="alert" *ngIf="errorMessage && errorMessage.length !== 0">
      <strong>Erreur :</strong> {{errorMessage}}
    </div>
    <form (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
      <mat-form-field class="w-100">
        <input type="email" matInput placeholder="Adresse e-mail" name="username" [(ngModel)]="model.username"
          #username="ngModel" required>
        <mat-error *ngIf="f.submitted && !username.valid">
          L'adresse e-mail est
          <strong>requise</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="w-100">
        <input type="password" matInput placeholder="Mot de passe" name="password" [(ngModel)]="model.password"
          #password="ngModel" required>
        <mat-error *ngIf="f.submitted && !username.valid">
          Le mot de passe est
          <strong>requis.</strong>
        </mat-error>
      </mat-form-field>
      <div class="d-flex flex-row-reverse">
        <button mat-raised-button color="primary" [disabled]="disabled">Se connecter</button>
      </div>
      <div class="d-flex flex-row-reverse">
        <a routerLink="/forgotten-password">Mot de passe oublié ?</a>
      </div>
    </form>
  </div>
  <mat-divider></mat-divider>
  <div class="mt-2">
    <div class="d-flex justify-content-between">
      <div>Vous n'avez pas de compte ?</div>
      <div>
        <button mat-raised-button color="primary" type="button" (click)="close(true)">S'inscrire</button>
      </div>
    </div>
  </div>
</div>