<div class="container">
  <h1>Conditions générales d'utilisation</h1>
  <br>
  <h2>1. Champ d’application</h2>
Les présentes « Conditions Générales d’Utilisation » ont pour objet l’encadrement juridique des modalités de mise à disposition des services du site weflat.fr et leur utilisation par les Utilisateurs.
Elles s’appliquent sans restriction ni réserve :
aux prestations proposées sur ce site Internet aux acheteurs potentiels de biens immobiliers à caractère résidentiel désirant bénéficier d’informations et de conseils auprès de professionnels de l’architecture et/ou de l’architecture d’intérieur, après un rendez-vous durant une visite du bien immobilier.
aux architectes et architectes d’intérieur réalisant les prestations susmentionnées.


<h2>2. Mentions légales  </h2>

L'édition du site weflat.fr est assurée par la Société Weflat, société par actions simplifiée, au capital de 1500 € dont le siège social est situé au 27 Rue des Mathurins, 75008 Paris, France et immatriculée au registre du commerce et des sociétés de Paris sous le numéro 823 258 348.
L'hébergeur du site weflat.fr est la Société 1&1 dont le siège social est situé au 7, place de la Gare - 57200 SARREGUEMINES. Société à responsabilité limitée au capital de 100 000 Euros, immatriculée au registre du commerce et des sociétés de SARREGUEMINES sous le no. 431 303 775

​
<h2>3. Définition</h2>


Les termes ou expressions commençant par une majuscule dans les présentes Conditions Générales d’Utilisations sont définis comme suit :
 
Clients désigne les personnes physiques ou morales ayant fait appel à un Membre pour une Prestation de visite de bien immobilier sur le Site et payé la somme indiquée à l’issue du formulaire de réservation.

Charte du professionnel désigne l’ensemble des clauses soumises à l’acceptation d’un Membre lors de son inscription auprès de weflat.

Conditions Générales d’Utilisation ou « CGU » désignent les présentes conditions générales d’utilisation du Site et des services.

Membres désignent les architectes ou architectes d’intérieur inscrit sur le site weflat.fr.

Prestation désigne le service de conseil fourni par un Membre. Il comporte la visite du bien immobilier en physique ainsi que la réalisation du Rendu dans un délai de 12h ouvrées suite au début de la visite. La Prestation débute au moment où le Client clique sur la case “Réserver” avant de procéder à son paiement.

Rendu de la visite désigne le support rempli par le Membre sélectionné par Weflat suite à la demande de Prestation du Client. Le Rendu fait suite à la visite du bien immobilier et a pour but de déterminer la qualité et le potentiel du bien immobilier. Le Rendu peut donner lieu, le cas échéant, à la conclusion d’un accord directement entre un Client et un Membre appelé Travaux. Weflat n'est jamais partie à un tel accord.

Utilisateur désigne indifféremment les Clients ainsi que les architectes et architectes d’intérieur inscrits sur le Site.

Site désigne le site internet www.weflat.fr
 

 

<h2>4. Acceptation en ligne des Conditions Générales d’Utilisation</h2>

 

L'utilisation du Site par un Utilisateur est subordonnée à l'acceptation des présentes CGU. Pour un Client, elle se matérialise en cliquant la case « Réserver» avant de procéder au paiement de la somme indiquée à l’issue du formulaire de réservation. Pour un Membre, elle se matérialise par l'acceptation de la Charte qui lui est communiquée lors de son inscription.

 

En cas de non-acceptation des Conditions Générales d’Utilisation stipulées dans le présent contrat, l’Utilisateur se doit de renoncer à l’accès des services proposés par le site.

 


<h2>5. Modifications des Conditions Générales d’Utilisation</h2>
 

weflat se réserve le droit de modifier unilatéralement et à tout moment le contenu des présentes conditions.

La modification prendra immédiatement effet dès la mise en ligne des Conditions Générales d’Utilisation modifiées.

 


<h2>6. Durée du contrat</h2>
​

Le contrat produit ses effets à l'égard de l'Utilisateur à compter de l'utilisation du service.

Le présent contrat prend fin pour le Client dès la réception du Rendu digitalisé.

Pour les membres, le présent contrat est à durée indéterminée. Il peut être rompu par envoi d'un email à contact&#64;weflat.fr par une déclaration dénuée d'ambiguïté.

​


<h2>7. Utilisation du site</h2>

​

Un Client doit remplir un questionnaire, en fournissant notamment des données personnelles le concernant (nom, prénom, adresse e-mail, numéro de téléphone) ainsi que les informations permettant d’organiser la visite avec un Membre notamment le jour et l’heure de la visite ainsi que l’adresse du bien ou du lieu de rendez-vous.

Il est également conseillé au Client de fournir ses souhaits et contraintes dans la zone libre de commentaires du questionnaire. Ces informations ont pour objectif d’aider le Membre à anticiper les besoins des Clients et de pouvoir envisager les solutions possibles quant à leur mise en place lors de la visite du bien immobilier.

 

Le Client autorise weflat à publier sur le Site son avis sur la Prestation, avec indication de sa région, de son prénom et/ou pseudo le cas échéant.

Weflat ne pourra en aucun cas être tenu responsable des informations communiquées par les Membres lors de la visite oralement ou par écrit ainsi que sur le Rendu de la visite  qui pourraient être erronées ou frauduleuses.

 


<h2>8. Rôle et obligations de weflat</h2>

<h3>8.1. Mise en relation et suivi de la Prestation</h3>

 

Sur la base des informations renseignées dans le formulaire par le Client lors de son inscription, weflat attribuera indifféremment un architecte ou un architecte d’intérieur au Client sous réserve de sa disponibilité.

 

Weflat transmettra ensuite au Membre les informations renseignées par le Client lors de sa demande de Prestation.

 

Si le Membre sélectionné ne s’avère plus disponible, un autre Membre - pouvant être présent au lieu, à la date et à l’horaire indiqués sera sélectionné par weflat. Le client sera notifié de ce changement par e-mail.

 

Il est précisé que le Site constitue uniquement une plateforme de mise en relation des Clients avec des Membres.

 

Weflat s’engage à faire ses meilleurs efforts pour s’assurer que la Prestation soit menée à bien, en restant un contact privilégié pour les Clients et Membres tout au long de celle-ci. Le suivi de Prestation se termine au moment de la livraison de la version digitale du Rendu.

 


<h3>8.2. Rendu</h3>

 

Les informations figurant dans le Rendu délivré en fin de Prestation résultent d’un examen attentif du bien immobilier par des professionnels qualifiés.

 

Les constatations effectuées se limitent strictement aux rubriques prévues par le Rendu et ne peuvent donc être considérées comme exhaustives. Les estimations y figurant concernant d’éventuels travaux sont données à titre estimatif et n’ont aucun caractère contractuel.

 

Weflat ne saurait être tenu pour responsable des conséquences :

- que d’éventuels dommages, vices, malfaçons antérieurs à la visite n’est pas été signalés par le Membre;

- d’une différence entre l’estimation du coût d’éventuels travaux communiqués dans le Rendu, qu’il appartient au Client de négocier s’il décide de les entreprendre.

 

Les informations fournies dans le Rendu, dans leur intégralité, ne constituent en aucun cas des plans ou directives pour des travaux que le Client souhaiterait entreprendre par la suite. Dès lors aucune responsabilité ne peut être imputée à weflat dans le cas de travaux entrepris par le Client et d’éventuels sinistres en découlant. D’une manière générale, Weflat ne peut être tenu responsable des préjudices directs et indirects de toute nature résultant du contenu du Rendu.

 

Le Rendu sera mis à disposition du Client dans un délai maximum de 12h ouvrées à compter du jour et de l’heure de la visite du bien ; le Client pourra communiquer ce rapport, mais sous sa propre responsabilité, à une tierce personne.


<h3>8.3. Disponibilité du site</h3>

 

weflat s'efforce d'assurer la disponibilité du site weflat.fr. Cependant, il peut arriver que l'accès au site soit interrompu dans le cadre d'opérations de maintenance, de mises à niveau matérielle ou logicielle, de réparations d'urgence du site, ou par suite de circonstances indépendantes de la volonté de weflat (comme par exemple, défaillance des liaisons et équipements de télécommunications).

 

Les Utilisateurs reconnaissent et acceptent que weflat n'assume envers eux aucune responsabilité pour toute indisponibilité, suspension ou interruption du site weflat.fr et weflat ne peut être tenu responsable des préjudices directs et indirects de toute nature résultant de ce fait.

 


<h2>9. Rôle et obligations des Membres</h2>

 

Les Membres déclarent et garantissent qu’ils se conforment à la législation fiscale et sociale, être à jour du paiement des cotisations sociales, et à justifier à WEFLAT sur simple demande.

​

Les Membres s'engagent à communiquer à weflat tout document attestant de sa qualification sur demande de weflat.

 

Les Membres sont responsables de la véracité et du respect des droits de propriété intellectuels attachés à tous éléments (textes, photographies ou autres) transmis par eux pour publication sur le site weflat.fr.

 

Les Membres auront l’obligation de se rendre à la visite en présence du Client dont ils auront accepté le rendez-vous et qui leur a été attribué par weflat.

 

La Prestation se limitant à une prestation de conseil, il est précisé que le Membre ne serait être tenu pour responsable des conséquences :

que d’éventuels dommages, vices, malfaçons antérieurs à la visite n’est pas été signalés par ses soins ;

d’une différence entre l’estimation du coût d’éventuels travaux communiqués dans le Rendu, qu’il appartient au Client de négocier s’il décide de les entreprendre.

 

Les informations fournies dans le Rendu, dans leur intégralité, ne constituent en aucun cas des plans ou directives pour des travaux que le Client souhaiterait entreprendre par la suite. Dès lors aucune responsabilité ne peut être imputée au Membre dans le cas de travaux entrepris par le Client et d’éventuels sinistres en découlant.

 

Les Membres auront l’obligation de remettre au Client le Rendu dans un délai maximum de 12h ouvrées à compter du jour et de l’heure de la visite du bien ; le Client pourra communiquer ce rapport, mais sous sa propre responsabilité, à une tierce personne.

 

Lors de son inscription, le Membre devra accepter les clause de la Charte du professionnel.

 

Weflat se réserve le droit d’exclure un Membre si ce dernier ne respecte pas les clauses des présentes CGU vis à vis de weflat, de Clients ou si ce dernier n’a pas agi dans l’esprit des clauses de la Charte du professionnel.

Les Membres s'interdisent tout comportement susceptible de porter atteinte de quelque manière que ce soit, directement ou indirectement, à la réputation, à l'honneur ou à l'image de marque de Weflat.



 

<h2>10. Modalités de paiement et conditions tarifaires</h2>

 

Seuls les règlements en euros sont acceptés.

 

L'inscription pour un rendez-vous avec un Membre est effective et validée par le paiement enregistré par les services de weflat. Le paiement dûment enregistré devra intervenir impérativement avant la confirmation du rendez-vous par weflat.

 

Le paiement de la Prestation s’effectue sur le Site. Une facture sera émise à la boite mail communiquée par le Client lors de sa demande de Prestation.

​

Le service de paiement pour les Clients est fourni par Stripe et soumis à l’Accord sur les comptes Stripe Connected (Stripe Connected Account Agreement), qui inclut les Modalités de service de Stripe (l’ensemble étant appelé les “Conditions Générales d’Utilisation Stripe” - “Stripe Services Agreement”.) En agréant aux présentes CGU, le Client accepte d’être lié aux Conditions Générales d’Utilisation Stripe, celles-ci peuvent occasionnellement faire l’objet de modifications de la part de Stripe.

​

weflat ne saurait voir sa responsabilité engagée pour tout problème lié au paiement.

 

La prestation est proposée au tarif en vigueur figurant sur le site weflat.fr, lors de l’enregistrement de l’inscription du client à un rendez-vous. Les prix sont exprimés en Euros, TVA non applicable selon l'article 293 B du CGI.

Ces tarifs sont fermes et non révisables.

 

Dès que la Prestation est terminée, weflat procédera au virement bancaire de la commission du Membre dans les 24h ouvrées. Le Membre recevra un e-mail attestant du versement.

 


<h2>11. Confirmation de la Prestation</h2>

 

Toute demande de Prestation sera confirmée par l’envoi d’un e-mail au Client et au Membre retenu.

Weflat ne serait être tenu responsable de la non réception de l’e-mail de confirmation si l‘adresse e-mail fournie par le Client et le Membre est erronée.
Dans tous les cas weflat fournira dans cette confirmation de rendez-vous les informations suivantes :

Lieu du rendez-vous ;

Date et heure du rendez-vous ;

Nom, prénom, adresse e-mail et numéro de téléphone du Client ;

Nom, prénom, adresse e-mail et numéro de téléphone du Membre.


 



<h2>12. Rétractation  – Annulation d’une inscription</h2>
 

L’exécution de la Prestation démarrant au moment de l’acceptation des présentes CGU, signifiée en cliquant sur la case “Réserver”, le Client ne dispose pas d’un droit de rétractation dans un délai de 14 jours à compter de son acceptation.

 

Toutefois, le Client dispose d’un délai de 24h ouvrées avant la date et l’heure de la visite renseignées dans le questionnaire pour nous faire de part de sa rétractation du présent contrat.

Il appartiendra au Client la décision de recevoir un remboursement de la part de weflat ou de proposer une nouvelle date, un nouvel horaire et/ou une nouvelle adresse de visite.

 

Toute demande de rétractation devra être effectuée par e-mail adressé à contact&#64;weflat.fr par une déclaration dénuée d'ambiguïté.

 

Le cas échéant weflat remboursera tous les paiements reçus du Client, sans retard excessif et, en tout état de cause, au plus tard quatorze jours à compter du jour où le Client informe de sa décision de rétractation du présent contrat. weflat procédera au remboursement en utilisant le même moyen de paiement que celui utilisé pour la transaction initiale, sauf si le Client convient expressément d'un moyen différent. Le remboursement n'occasionnera aucun frais pour le Client.


 


<h2>13. Traitement des données personnelles</h2>

 

Les informations demandées à l’inscription au site sont nécessaires et obligatoires pour la création du compte de l'Utilisateur. En particulier, l'adresse électronique pourra être utilisée par le site pour l'administration, la gestion et l'animation du service.

Le site assure à l'Utilisateur une collecte et un traitement d'informations personnelles dans le respect de la vie privée conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés. Le site est déclaré à la CNIL sous le numéro [numéro].

En vertu des articles 39 et 40 de la loi en date du 6 janvier 1978, l'Utilisateur dispose d'un droit d'accès, de rectification, de suppression et d'opposition de ses données personnelles. L'Utilisateur exerce ce droit via par e-mail adressé à contact&#64;weflat.fr.

 


<h2>14. Propriété intellectuelle</h2>

 

L'accès au Site confère aux Utilisateurs un droit d'usage privé de ce site. Le contenu du Site est la propriété de weflat SAS et de ses partenaires et est protégé par les lois françaises et internationales relatives à la propriété intellectuelle.

L'ensemble des éléments édités sur ce site, incluant notamment l'architecture du site, son ergonomie, les textes, photographies, infographies, logos, marques, etc. constituent des œuvres au sens du code de la propriété intellectuelle. Par conséquent, toute représentation ou reproduction intégrale ou partielle, qui pourrait être faite sans le consentement de leurs auteurs ou ayants-droit, est interdite et est susceptible de constituer un délit de contrefaçon.


<h2>15. Droit applicable et juridiction compétente</h2>
 

Les présentes Conditions Générales d’Utilisation sont régies par la loi française.

En cas de contestation sur l’interprétation et/ou l’exécution des présentes Conditions Générales d’Utilisation, le différend sera soumis aux tribunaux compétents dans le ressort de Paris.

<br>
<br>
</div>
