<h1 mat-dialog-title>
  Comment bien visiter ?
  <button type="button" class="clickable close float-right" (click)="closeClicked()">
    <span aria-hidden="true">&times;</span>
  </button>
</h1>
<div mat-dialog-content>
  <h2 mat-dialog-title>1 – Préparez la visite</h2>
  <p>Le client a fourni un certain nombre d’informations quant à sa recherche de bien immobilier, il lui a été demandé
    lors de son inscription de nous communiquer entre autres :</p>
  <ul>
    <li>Ses contraintes</li>
    <li>Ses besoins</li>
    <li>Ses envies</li>
    <li>Ses styles souhaités</li>
    <li>etc...</li>
  </ul>
  <p>Gardez en tête toutes ces informations quand vous évaluez la qualité et le défaut du bien, cela vous permettra de
    proposer des solutions au plus proche de ses attentes.</p>

  <h2 mat-dialog-title>2 – Soignez la relation client</h2>

  <p>Soyez ponctuel ! Les visites peuvent être courtes.</p>

  <p>Restez à l’écoute du client pendant la visite et prévoyez un peu de temps après la visite pour échanger avec le
    client et faire un bilan.</p>

  <p>Gardez en tête que si la relation se passe bien, il pourrait faire appel à vous pour ses futurs travaux !</p>

  <h2 mat-dialog-title>3 – Soyez moteur de la visite</h2>

  <p>Les visites peuvent être de courte durée, vous devez les prendre en main.</p>

  <p>Commencez par expliquer au client comment va se dérouler la visite, quel est votre rôle et sur quels éléments vous
    allez pouvoir le renseigner.</p>

  <p>Vous pouvez vous aider de la trame du compte rendu pour vous guider :</p>
  <p>1 – Les attentes du client (posez lui des questions et montrez que vous avez pris connaissances de ses attentes)</p>
  <p>2 – Faites un état des lieux rapide de la qualité du bien par pièces / éléments (murs, sols, plafonds, éclairage,
    plomberie, électricité, etc.)</p>
  <p>3 – Discutez du potentiel du bien. Visitez comme vous le sentez, ne suivez pas toujours le client. Laissez-le
    s’imprégner des lieux s’il s’agit de sa première visite, amenez-le ensuite à vous suivre et échangez sur ses
    attentes
    et votre avis.</p>

  <h2 mat-dialog-title>4 – Soyez pédagogue et transparent</h2>
  <p>C’est le plus important !
    La plupart de nos clients ne sont pas habitués à interagir avec des architectes ou des architectes d’intérieur.
    Expliquez ce qui est possible de faire pendant une visite et ce que contiendra le compte rendu.
    L’objectif est d’éviter les malentendus, vous ne pourrez pas entrer dans trop de détails ou faire une étude
    complète.
    Expliquez ce que vous pouvez faire de manière réaliste, et tenter de cerner quelles explications permettront de
    répondre à la problématique du client.
    A chaque instant de la visite, parlez au client ! Expliquez les différents points sur lesquels vous vous arrêtez
    lors
    de l’état des lieux, même si ces explications sont techniques.</p>

  <h2 mat-dialog-title>5 – Soyez transparent</h2>
  <p>Votre rôle n’est pas de convaincre le client d’acheter le bien ou au contraire de ne pas l’acheter ; vos conseils
    doivent être objectifs. Ainsi vous devez être totalement transparent sur la qualité et le potentiel du bien mais
    aussi sur les coûts d’éventuels travaux, leur durée et les démarches administratives qu’ils impliquent.
    Nous ne vous demandons pas non plus de tout savoir, dites clairement quand des points nécessitent de s’informer
    d’avantage ou de faire appel à certains experts.</p>
</div>