/* You can add global styles to this file, and also import other style files */

// Angular Material
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
// Bootstrap Required
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
// Bootstrap Optional
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/input-group";
@import "~bootstrap/scss/jumbotron";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/progress";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/utilities";
$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

html {
    overflow-y: scroll;
    //font-size: 67.5%; Arti: à enlever ?
}

body {
    padding: 0;
    margin: 0;
    //font-size: 1.2rem; /* =12px */ Arti: à enlever ?
}

/* =24px */

.navbar {
    margin-bottom: 0;
}

.jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
    margin-bottom: 0;
    background-color: #fff;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}

.navbar-toggler {
    border: none;
    outline: none;
}

.dropdown-menu-right {
    right: 0;
    left: auto;
}

.nav>a.active {
    color: white;
    background: rgba(255, 255, 255, 0.3);
}

.dropdown-button:after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid;
}

.cursor-not-allowed {
    cursor: not-allowed !important;
}

@include media-breakpoint-up(xs) {
    html {
        font-size: 0.6rem;
    }
    nav a {
        font-size: 16px;
    }
}

@include media-breakpoint-up(sm) {
    html {
        font-size: 0.6rem;
    }
    nav a {
        font-size: 16px;
    }
}

@include media-breakpoint-up(md) {
    html {
        font-size: 0.8rem;
    }
    nav a {
        font-size: 16px;
    }
}

@include media-breakpoint-up(lg) {
    html {
        font-size: 1rem;
    }
    nav a {
        font-size: 16px;
    }
}