/* You can add global styles to this file, and also import other style files */

// Angular Material
@import "@angular/material/prebuilt-themes/indigo-pink.css";

// Bootstrap configuration
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";

//Bootstrap override
$zindex-sticky: 998;

// Bootstrap Optional
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/progress";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/modal";

// Utilities
@import "~bootstrap/scss/utilities/api";

/*$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";*/

html {
    overflow-y: scroll;
}

body {
    padding: 0;
    margin: 0;
}

/* =24px */

.navbar {
    margin-bottom: 0;
}

.jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
    margin-bottom: 0;
    background-color: #fff;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: 0.25rem;
}

.navbar-toggler {
    border: none;
    outline: none;
}

.dropdown-menu-right {
    right: 0;
    left: auto;
}

.nav > a.active {
    color: white;
    background: rgba(255, 255, 255, 0.3);
}

.dropdown-button:after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid;
}

.cursor-not-allowed {
    cursor: not-allowed !important;
}

//Google Autocomplete
.pac-container {
    z-index: 10000 !important;
}

.spacer {
    margin-top: 6rem !important;
}

.form-group {
    margin-bottom: 1rem;
}

label {
    margin-bottom: 0.5rem;
}
