/* You can add global styles to this file, and also import other style files */

// Angular Material
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

// Bootstrap Required
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

// Bootstrap Optional
@import "node_modules/bootstrap/scss/alert";
@import "node_modules/bootstrap/scss/badge";
@import "node_modules/bootstrap/scss/button-group";
@import "node_modules/bootstrap/scss/card";
@import "node_modules/bootstrap/scss/close";
@import "node_modules/bootstrap/scss/custom-forms";
@import "node_modules/bootstrap/scss/forms";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/input-group";
@import "node_modules/bootstrap/scss/jumbotron";
@import "node_modules/bootstrap/scss/modal";
@import "node_modules/bootstrap/scss/nav";
@import "node_modules/bootstrap/scss/navbar";
@import "node_modules/bootstrap/scss/progress";
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/tables";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/utilities";


html {
    overflow-y: scroll;
}

body {
    padding: 0;
    margin: 0;
  }
  
  .navbar {
    margin-bottom: 0;
  }
  
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
    margin-bottom: 0;
    background-color: #fff;
  }
  
  footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  footer p {
    margin-bottom: .25rem;
  }
  .navbar-toggler {
    border: none;
    outline: none;
  }
  
  .dropdown-menu-right { 
      right: 0; 
      left: auto; 
  }
  
  .nav > a.active {
      color:white;
      background:rgba(255,255,255, 0.3);
  }

  .dropdown-button:after {
      content: "";
      display: inline-block;
      width: 0;
      height: 0;
      margin-left: .255em;
      vertical-align: .255em;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid;
  }

  .cursor-not-allowed {
    cursor: not-allowed !important;
  }