/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html {
    overflow-y: scroll;
}

body {
    padding: 0;
    margin: 0;
  }
  
  .navbar {
    margin-bottom: 0;
  }
  
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
    margin-bottom: 0;
    background-color: #fff;
  }
  
  footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  footer p {
    margin-bottom: .25rem;
  }
  .navbar-toggler {
    border: none;
    outline: none;
  }
  
  .dropdown-menu-right { 
      right: 0; 
      left: auto; 
  }
  
  .nav > a.active {
      color:white;
      background:rgba(255,255,255, 0.3);
  }