<div class="container">
  <mat-accordion class="example-headers-align" multi="true">
    <mat-expansion-panel [expanded]="potentialVisitesExpanded">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Demandes de visites
        </mat-panel-title>
      </mat-expansion-panel-header>
      @if (!potentialVisites || !potentialVisites.length) {
        <div>Vous n'avez aucune demande de visite pour l'instant...</div>
      }
      @for (visite of potentialVisites; track visite) {
        <app-visit [visit]="visite" [enableAcceptRefuseButtons]="true" (updated)="loadAllVisites()"></app-visit>
      }
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="reportWrittenVisitesExpanded">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Mes visites passées
        </mat-panel-title>
      </mat-expansion-panel-header>
      @if (!reportWrittenVisites || !reportWrittenVisites.length) {
        <div>Vous n'avez aucune visite passée</div>
      }
      @for (visite of reportWrittenVisites; track visite) {
        <app-visit [visit]="visite" [enableReportViewButton]="true" (updated)="loadAllVisites()"></app-visit>
      }
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="reportPendingVisitesExpanded">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Mes visites en cours
        </mat-panel-title>
      </mat-expansion-panel-header>
      @if (!reportPendingVisites || !reportPendingVisites.length) {
        <div>Vous n'avez aucune visite en cours</div>
      }
      @for (visite of reportPendingVisites; track visite) {
        <app-visit [visit]="visite" [enableReportEditButton]="true" (updated)="loadAllVisites()"></app-visit>
      }
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="plannedVisitesExpanded">
      <mat-expansion-panel-header>
        <mat-panel-title class="align-items-center">
          Mes visites programmées
          <button (click)="openHelpDialog($event)" mat-icon-button type="button">
            <mat-icon>help_outline</mat-icon>
          </button>
        </mat-panel-title>
      </mat-expansion-panel-header>
      @if (!plannedVisites || !plannedVisites.length) {
        <div>Vous n'avez aucune visite programmée</div>
      }
      @for (visite of plannedVisites; track visite) {
        <app-visit [visit]="visite" [enableHelpButton]="true" (updated)="loadAllVisites()"></app-visit>
      }
    </mat-expansion-panel>
  </mat-accordion>
</div>