<div class="container">
  <mat-accordion class="example-headers-align" multi="true">
    <mat-expansion-panel [expanded]="potentialVisitesExpanded">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Demandes de visites
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngIf="!potentialVisites || !potentialVisites.length">Vous n'avez aucune demande de visite pour l'instant...</div>
      <app-visit *ngFor="let visite of potentialVisites" [visit]="visite" [enableAcceptRefuseButtons]="true" (updated)="loadAllVisites()"></app-visit>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="reportWrittenVisitesExpanded">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Mes visites passées
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngIf="!reportWrittenVisites || !reportWrittenVisites.length">Vous n'avez aucune visite passée</div>
      <app-visit *ngFor="let visite of reportWrittenVisites" [visit]="visite" [enableReportViewButton]="true" (updated)="loadAllVisites()"></app-visit>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="reportPendingVisitesExpanded">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Mes visites en cours
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngIf="!reportPendingVisites || !reportPendingVisites.length">Vous n'avez aucune visite en cours</div>
      <app-visit *ngFor="let visite of reportPendingVisites" [visit]="visite" [enableReportEditButton]="true" (updated)="loadAllVisites()"></app-visit>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="plannedVisitesExpanded">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Mes visites programmées
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngIf="!plannedVisites || !plannedVisites.length">Vous n'avez aucune visite programmée</div>
      <app-visit *ngFor="let visite of plannedVisites" [visit]="visite" (updated)="loadAllVisites()"></app-visit>
    </mat-expansion-panel>
  </mat-accordion>
</div>