<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="15 seconds">
    <appender name="Console"
        class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1.}): %msg%n%throwable
            </Pattern>
        </layout>
    </appender>
     
    <!-- LOG everything at INFO level -->
    <root level="info">
        <appender-ref ref="Console" />
    </root>
 
    <logger name="fr.weflat" level="info" additivity="false">
        <appender-ref ref="Console" />
    </logger>
    
    <logger name="fr.weflat.backend.web.controller" level="info" additivity="false">
        <appender-ref ref="Console" />
    </logger>
        
    <logger name="fr.weflat.backend.batch" level="info" additivity="false">
        <appender-ref ref="Console" />
    </logger>
    
    <logger name="fr.weflat.backend.service.impl.BatchServiceImpl" level="info" additivity="false">
        <appender-ref ref="Console" />
    </logger>
    
    <logger name="org.springframework" level="info" additivity="false">
        <appender-ref ref="Console" />
    </logger>
    
    <logger name="org.hibernate" level="info" additivity="false">
        <appender-ref ref="Console" />
    </logger>
    
    <logger name="ma.glasnost.orika" level="info" additivity="false">
        <appender-ref ref="Console" />
    </logger>
    
    <logger name="javax.mail" level="info" additivity="false">
        <appender-ref ref="Console" />
    </logger>
 
</configuration>