<div class="row">
  <div class="col">{{visite.customer.firstName}} {{visite.customer.lastName}} a prévu une visite le {{visite.visiteDate | date:'medium'}}
    au {{visite.streetNumber}}, {{visite.route}} - {{visite.zipCode.number}} {{visite.city}}
  </div>
  <div class="col-sm-6 col-lg-4 d-flex align-items-center justify-content-end" *ngIf="enableAcceptRefuseButtons">
    <button mat-raised-button color="primary" (click)="accept()" [disabled]="acceptButtonDisabled">Accepter</button>
    <button mat-raised-button (click)="refuse()" [disabled]="refuseButtonDisabled">Refuser</button>
  </div>
  <div class="col-sm-6 col-lg-4 d-flex align-items-center justify-content-end" *ngIf="enableReportEditButton">
    <button mat-raised-button color="primary" (click)="editReport()" [disabled]="editButtonDisabled">Editer le rapport</button>
  </div>
  <div class="col-sm-6 col-lg-4 d-flex align-items-center justify-content-end" *ngIf="enableReportViewButton">
    <button mat-raised-button color="primary" (click)="viewReport()" [disabled]="editButtonDisabled">Voir le rapport</button>
  </div>
</div>