<h1>Visite</h1>
<div class="card mt-2">
  <div class="card-header">
    Informations de la visite
  </div>
  <div class="card-body">
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Statut</label>
      <div class="col-sm-10">
        {{visit.statusText}}
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Adresse</label>
      <div class="col-sm-10">
        {{visit.formattedAddress}}
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Date de création</label>
      <div class="col-sm-10">
        {{visit.creationDate | date:'medium'}}
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Date de visite</label>
      <div class="col-sm-10">
        {{visit.visiteDate | date:'medium'}}
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">URL de l'annonce</label>
      <div class="col-sm-10">
        {{visit.announcementUrl}}
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Paiement Stripe</label>
      <div class="col-sm-10">
        {{visit.chargeId}}
      </div>
    </div>
    <div *ngIf="visit.status === VisitStatusEnum.BEING_ASSIGNED" class="form-group row">
      <button mat-raised-button color="primary" (click)="cancelClick()">Annuler</button>
    </div>
  </div>
</div>

<ng-template #confirmModal>
  <h5 mat-dialog-title>Êtes-vous sûr(e) ?
    <button type="button" class="close" (click)="closeCancelModal()">
      <span>&times;</span>
    </button>
  </h5>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" type="button" class="mr-2" [mat-dialog-close]="true">Oui</button>
    <button mat-raised-button type="button" class="ml-2" [mat-dialog-close]="false">Non</button>
  </div>
</ng-template>

<admin-architect *ngIf="visit.architect" [architect]="visit.architect"></admin-architect>

<admin-customer *ngIf="visit.customer" [customer]="visit.customer"></admin-customer>