.title:after {
    border-style: solid;
	border-width: 0.25em 0.25em 0 0;
	content: '';
	height: 0.8em;
	left: 0.15em;
	position: relative;
	top: 0.15em;
	transform: rotate(135deg);
	vertical-align: top;
	width: 0.8em;
    float: right;
    color: grey;
    transition: all 0.5s;
}
.title.collapsed:after {
    transform: rotate(225deg);
}

.title {
    color:#808080;
}

.card-body {
	padding: 0px;
}