<!-- 3 chiffres -->
<div class="container">
  <div id="accordion" role="tablist">
    <div class="card">
      <div class="card-header" role="tab">
        <h5 class="mb-0">
          <a class="title collapsed" data-toggle="collapse" href="#potentialVisites" role="button">
            Demandes de visites
          </a>
        </h5>
      </div>
      <div id="potentialVisites" class="collapse" role="tabpanel">
        <div class="card-body">
          <div class="container">
            <app-visit *ngFor="let visite of potentialVisites" [visite]="visite" [enableAcceptRefuseButtons]="true" (updated)="loadAllVisites()"></app-visit>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" role="tab">
        <h5 class="mb-0">
          <a class="title collapsed" data-toggle="collapse" href="#reportWrittenVisites" role="button">
            Mes visites passées
          </a>
        </h5>
      </div>
      <div id="reportWrittenVisites" class="collapse" role="tabpanel">
        <div class="card-body">
          <div class="container">
            <app-visit *ngFor="let visite of reportWrittenVisites" [visite]="visite" (updated)="loadAllVisites()"></app-visit>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" role="tab">
        <h5 class="mb-0">
          <a class="title collapsed" data-toggle="collapse" href="#reportPendingVisites" role="button">
            Mes visites en cours
          </a>
        </h5>
      </div>
      <div id="reportPendingVisites" class="collapse" role="tabpanel">
        <div class="card-body">
          <div class="container">
            <app-visit *ngFor="let visite of reportPendingVisites" [visite]="visite" [enableReportButton]="true" (updated)="loadAllVisites()"></app-visit>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" role="tab">
        <h5 class="mb-0">
          <a class="title collapsed" data-toggle="collapse" href="#plannedVisites" role="button">
            Mes visites programmées
          </a>
        </h5>
      </div>
      <div id="plannedVisites" class="collapse" role="tabpanel">
        <div class="card-body">
          <div class="container">
            <app-visit *ngFor="let visite of plannedVisites" [visite]="visite" (updated)="loadAllVisites()"></app-visit>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>