<!-- 3 chiffres -->
<div class="container">
  <div id="accordion" role="tablist">
    <div class="card">
      <div class="card-header" role="tab">
        <h5 class="mb-0">
          <a class="title collapsed" data-toggle="collapse" href="#potentialVisites" role="button">
            Demandes de visites
          </a>
        </h5>
      </div>
      <div id="potentialVisites" class="collapse" role="tabpanel">
        <div class="card-body">
          <div class="container">
            <app-visit *ngFor="let visite of potentialVisites" [visite]="visite" [enableButtons]="true" (updated)="loadAllVisites()"></app-visit>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" role="tab">
        <h5 class="mb-0">
          <a class="title collapsed" data-toggle="collapse" href="#collapseTwo" role="button">
            Mes visites passées
          </a>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" role="tabpanel">
        <div class="card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
          non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
          aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
          craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
          occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
          labore sustainable VHS.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" role="tab">
        <h5 class="mb-0">
          <a class="title collapsed" data-toggle="collapse" href="#collapseThree" role="button">
            Mes visites en cours
          </a>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" role="tabpanel">
        <div class="card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
          non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
          aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
          craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
          occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
          labore sustainable VHS.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" role="tab">
        <h5 class="mb-0">
          <a class="title collapsed" data-toggle="collapse" href="#plannedVisites" role="button">
            Mes visites programmées
          </a>
        </h5>
      </div>
      <div id="plannedVisites" class="collapse" role="tabpanel">
        <div class="card-body">
          <div class="container">
            <app-visit *ngFor="let visite of plannedVisites" [visite]="visite" [enableButtons]="false" (updated)="loadAllVisites()"></app-visit>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>