<div class="container">
  <h1>Mon projet d'achat</h1>
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
      <div class="mb-2 row">
        <label class="col-sm-2 col-form-label">Projet d'achat</label>
        <div class="col-md-10">
          <textarea class="form-control project" rows="3" [class.is-invalid]="form.controls.project.invalid && form.controls.project.touched"
            [class.is-valid]="!form.controls.project.invalid && form.controls.project.touched" formControlName="project" placeholder="Ce projet d'achat sera communiqué à l'architecte à chaque visite."
            required></textarea>
        </div>
      </div>
      <div class="mb-2 row mt-3">
        <div class="col-sm-12">
          <button type="submit" mat-raised-button color="primary">Sauvegarder</button>
        </div>
      </div>
    </form>
  </div>
</div>