<div *ngIf="visit.status === VisitStatusEnum.WAITING_FOR_PAYMENT" class="card">
  <div class="card-body">
    Visite au {{ visit.formattedAddress }} planifiée le {{visit.visiteDate | date:'medium'}}
    <div class="progress" style="height: 20px;">
      En attente de paiement
    </div>
    <div class="btn-toolbar float-right mt-2">
      <button class="btn btn-primary mr-2" type="button" appPayment [visitId]="visit.id" (paymentDone)="visitPaid()">Payer</button>
      <button class="btn btn-light float-right mr-2" type="button">Modifier</button>
      <button class="btn btn-danger float-right" type="button">Annuler</button>
    </div>
  </div>
</div>
<div *ngIf="visit.status === VisitStatusEnum.BEING_ASSIGNED" class="card">
  <div class="card-body">
    Visite au {{ visit.formattedAddress }} planifiée le {{visit.visiteDate | date:'medium'}}
    <div class="progress" style="height: 20px;">
      <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Visite en cours d'attribution</div>
    </div>
    <div class="btn-toolbar float-right mt-2">
      <button class="btn btn-light float-right mr-2" type="button">Modifier</button>
      <button class="btn btn-danger float-right" type="button">Annuler</button>
    </div>
  </div>
</div>
<div *ngIf="visit.status === VisitStatusEnum.IN_PROGRESS && !datePassed" class="card">
  <div class="card-body">
    Visite au {{ visit.formattedAddress }} planifiée le {{visit.visiteDate | date:'medium'}}
    <div class="progress" style="height: 20px;">
      <div class="progress-bar" role="progressbar" style="width: 35%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Visite attribuée</div>
    </div>
    <div class="btn-toolbar float-right mt-2">
      <button class="btn btn-light float-right mr-2" type="button">Modifier</button>
      <button class="btn btn-light float-right mr-2" type="button">Contacter l'architecte</button>
      <button class="btn btn-danger float-right" type="button">Annuler</button>
    </div>
  </div>
</div>
<div *ngIf="visit.status === VisitStatusEnum.IN_PROGRESS && datePassed" class="card">
  <div class="card-body">
    Visite au {{ visit.formattedAddress }} planifiée le {{visit.visiteDate | date:'medium'}}
    <div class="progress" style="height: 20px;">
      <div class="progress-bar" role="progressbar" style="width: 55%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Visite en cours</div>
    </div>
  </div>
</div>
<div *ngIf="visit.status === VisitStatusEnum.REPORT_BEING_WRITTEN" class="card">
  <div class="card-body">
    Visite au {{ visit.formattedAddress }} planifiée le {{visit.visiteDate | date:'medium'}}
    <div class="progress" style="height: 20px;">
      <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Compte rendu en cours de rédaction</div>
    </div>
    <a class="btn btn-light float-right" href="mailto:{{visit.architecte.email}}">Contacter l'architecte</a>
  </div>
</div>
<div *ngIf="visit.status === VisitStatusEnum.REPORT_AVAILABLE" class="card">
  <div class="card-body">
    Visite au {{ visit.formattedAddress }} planifiée le {{visit.visiteDate | date:'medium'}}
    <div class="progress" style="height: 20px;">
      <div class="progress-bar bg-success" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Compte rendu disponible</div>
    </div>
    <div class="btn-toolbar float-right mt-2">
      <button class="btn btn-light mr-2" type="button">Noter l'architecte</button>
      <a class="btn btn-light float-right mr-2" href="mailto:{{visit.architecte.email}}">Contacter l'architecte</a>
      <button class="btn btn-primary" (click)="viewReport()" type="submit">Ouvrir le compte rendu</button>
    </div>
  </div>
</div>