<div class="container">
  <mat-accordion class="example-headers-align" multi="true">
    <mat-expansion-panel [expanded]="approvingArchitectsExpanded">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Architectes en attente
        </mat-panel-title>
      </mat-expansion-panel-header>
      @if (!approvingArchitects || !approvingArchitects.length) {
        <div>Pas d'architecte en attente</div>
      }
      @for (architect of approvingArchitects; track architect) {
        <app-architect-list-item [architect]="architect" (click)="architectClick(architect)"></app-architect-list-item>
      }
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="createdArchitectsExpanded">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Architectes au profil incomplet
        </mat-panel-title>
      </mat-expansion-panel-header>
      @if (!createdArchitects || !createdArchitects.length) {
        <div>Pas d'architecte au profil incomplet</div>
      }
      @for (architect of createdArchitects; track architect) {
        <app-architect-list-item [architect]="architect" (click)="architectClick(architect)"></app-architect-list-item>
      }
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="validatedArchitectsExpanded">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Architectes acceptés
        </mat-panel-title>
      </mat-expansion-panel-header>
      @if (!validatedArchitects || !validatedArchitects.length) {
        <div>Pas d'architecte accepté</div>
      }
      @for (architect of validatedArchitects; track architect) {
        <app-architect-list-item [architect]="architect" (click)="architectClick(architect)"></app-architect-list-item>
      }
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="refusedArchitectsExpanded">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Architectes refusés
        </mat-panel-title>
      </mat-expansion-panel-header>
      @if (!refusedArchitects || !refusedArchitects.length) {
        <div>Pas d'architecte refusé</div>
      }
      @for (architect of refusedArchitects; track architect) {
        <app-architect-list-item [architect]="architect" (click)="architectClick(architect)"></app-architect-list-item>
      }
    </mat-expansion-panel>
  </mat-accordion>
</div>